openapi: 3.0.2
info:
  version: '2.0'
  title: The HIVE APIs
  contact:
    email: support@alviere.com
    url: 'https://alviere.com/'
  x-logo:
    url: img/alviere-logo.svg
  description: |
    # Introduction                

    Welcome to The HIVE API documentation!

    This page provides developer API documentation for integrating into the Alviere HIVE platform.

    ### Notes

    * All times are in UTC time standard
    * All date fields use the RFC 3339 version of the ISO-8601 standard format
tags:
  - name: Accounts
  - name: Authentication
  - name: Wallets
  - name: Transactions
  - name: Payment methods
  - name: Dossiers
  - name: Beneficiaries
  - name: Card issuance
  - name: Check deposits
  - name: Global payments
  - name: Tokenization
  - name: Treasury management
  - name: Service fees
  - name: Bank processing
  - name: Card processing
  - name: Webhooks
  - name: Rewards and Incentives
servers:
  - url: 'https://api.alviere.com'
    description: Alviere API
paths:
  /auth/realms/customers/protocol/openid-connect/token:
    servers:
      - url: 'https://auth.alviere.com'
        description: Authentication API
    post:
      tags:
        - Authentication
      summary: Request an access token
      description: Authenticates the user and returns an access token to be used in every subsequent API request.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: Your unique Client ID in the Alviere platform
                  example: your_client_id
                client_secret:
                  type: string
                  description: The API key for authentication in the Alviere platform
                  example: your_client_secret
                grant_type:
                  type: string
                  description: |
                    To authenticate to the API *always* use `client_credentials` in this field
                  example: client_credentials
              required:
                - client_id
                - client_secret
                - grant_type
      responses:
        '200':
          description: |
            The request was successful and the user is authenticated.

            The `JWT` token that is returned should be used in every subsequent call to the API.
          content:
            application/json:
              schema:
                type: object
                required:
                  - access_token
                  - expires_in
                  - refresh_expires_in
                  - refresh_token
                  - token_type
                  - not-before-policy
                  - session_state
                  - scope
                properties:
                  access_token:
                    type: string
                    description: The JWT token to be used for every API request.
                    example: eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
                  expires_in:
                    type: integer
                    description: 'The expiration time for the token, in seconds.'
                    example: 300
                  refresh_expires_in:
                    type: integer
                    description: 'The expiration time for the refresh token, in seconds.'
                    example: 1800
                  refresh_token:
                    type: string
                    description: The refresh token that can be used to refresh a session token.
                    example: eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUrw...
                  token_type:
                    type: string
                    description: The type of token returned by the authentication server. In this version of the API this property will always return `bearer`
                    example: bearer
                  not-before-policy:
                    type: integer
                    description: The not before policy for the JWT token. Defaults to 0
                    example: 0
                  session_state:
                    type: string
                    description: Unique identifier of the session state
                    example: 8c573816-96b1-4dc3-bce8-e59fd2bf9dec
                  scope:
                    type: string
                    description: The scope of the session.
                    example: 'null'
        '400':
          description: |
            The request for authentication was denied.
            The provided credentials are not valid for system access.
      operationId: request-access-token
      parameters:
        - schema:
            type: string
          in: header
          name: User-Agent
          description: Header intended to identify the user agent responsible for making a given HTTP request
          required: true
  /sdk/auth/generate/pds/token:
    post:
      tags:
        - Authentication
      summary: Request a payroll deposit switch token
      description: This service generates a token under your account to be used with the payroll deposit switch provider
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wallet_uuid:
                  type: string
                  format: uuid
                  title: Account UUID
                  description: ID of the wallet to which the payroll deposit switch provider should send funds to
              required:
                - wallet_uuid
        description: ''
      responses:
        '201':
          description: |
            OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pds_sdk_token:
                    type: string
                    description: The retrieved SDK token
                  pds_sdk_token_expires_at:
                    type: string
                    format: date-time
                    description: The SDK token expiration date
                required:
                  - pds_sdk_token
                  - pds_sdk_token_expires_at
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '503':
          description: Service Unavailable
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    title: The unique error code
                    description: This error indicates that the server failed to retrieve the mobile token.
                    type: string
                    example: '110003'
                  error_description:
                    title: A description of the error that occurred
                    description: Description of the error in plain english
                    type: string
                    example: failed to retrieve plaid sdk token from gateway
      operationId: AUTH-05
    parameters: []
  /sdk/auth/generate/mobile/token:
    post:
      tags:
        - Authentication
      summary: Request a mobile token
      description: This service generates a secure and authenticated token under your account to be used with Alviere's Android or iOS Mobile SDK
      parameters:
        - in: header
          name: Authorization
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
          required: true
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_uuid:
                  type: string
                  format: uuid
                  title: Account UUID
                with_plaid_sdk_token:
                  type: string
                  enum:
                    - ANDROID
                    - IOS
      responses:
        '201':
          description: |
            The request was successful and the user is authenticated.
            The `JWT` token that is returned should be used to instantiate Alviere's iOS and Android Mobile SDK's.
          content:
            application/json:
              schema:
                type: object
                required:
                  - auth_token
                properties:
                  auth_token:
                    type: string
                    description: The newly generated authentication token
                  plaid_sdk_token:
                    type: string
                    description: The retrieved Plaid SDK token which corresponds to the `link_token` on Plaid.
                  plaid_sdk_token_expires_at:
                    type: string
                    format: date-time
                    description: The Plaid SDK token expiration date.
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '503':
          description: Service Unavailable
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    title: The unique error code
                    description: This error indicates that the server failed to retrieve the mobile token.
                    type: string
                    example: '110003'
                  error_description:
                    title: A description of the error that occurred
                    description: Description of the error in plain english
                    type: string
                    example: failed to retrieve plaid sdk token from gateway
      operationId: generate-mobile-token
  /sdk/auth/generate/plaid/token:
    post:
      tags:
        - Authentication
      summary: Request a plaid token
      description: This service generates a token under your account to be used with Plaid
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_uuid:
                  type: string
                  format: uuid
                  title: Account UUID
                  description: ID of the account
                platform:
                  type: string
                  enum:
                    - IOS
                    - ANDROID
                    - WEB
                  description: The platform on which Plaid is going to be used
                payment_method_uuid:
                  type: string
                  description: The UUID of the related payment method
              required:
                - account_uuid
                - platform
      responses:
        '201':
          description: |
            OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  plaid_sdk_token:
                    type: string
                    description: The retrieved Plaid SDK token which corresponds to the `link_token` on Plaid.
                  plaid_sdk_token_expires_at:
                    type: string
                    format: date-time
                    description: The Plaid SDK token expiration date.
                required:
                  - plaid_sdk_token
                  - plaid_sdk_token_expires_at
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '503':
          description: Service Unavailable
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    title: The unique error code
                    description: This error indicates that the server failed to retrieve the mobile token.
                    type: string
                    example: '110003'
                  error_description:
                    title: A description of the error that occurred
                    description: Description of the error in plain english
                    type: string
                    example: failed to retrieve plaid sdk token from gateway
      operationId: AUTH-04
    parameters: []
  /sdk/auth/generate/web/session:
    post:
      tags:
        - Authentication
      summary: Request a web session
      description: This service generates a secure and authenticated session under your account to be used with the Web SDK.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_uuid:
                  type: string
                  format: uuid
                  title: Account UUID
      responses:
        '201':
          description: |
            The request was successful and the user is authenticated.
            The `Session ID` that is returned should be used to instantiate our WEB SDK's.
          content:
            application/json:
              schema:
                type: object
                required:
                  - session_id
                properties:
                  session_id:
                    type: string
                    description: The newly created session ID
                    format: uuid
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: generate-web-session
  /accounts:
    get:
      summary: List accounts
      operationId: ACC-11
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    description: List of accounts
                    items:
                      $ref: '#/components/schemas/Account-response-list'
          headers:
            Alv-Request-Id:
              schema:
                type: string
              description: Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case and serves solely for the purpose of technical debugging and troubleshooting.
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      description: List all accounts that are part of your Alviere program
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/Authorization'
        - schema:
            type: string
            enum:
              - CREATED
              - ACTIVE
              - INACTIVE
              - PROCESSING
              - PENDING_USER
              - MANUAL_REVIEW
              - REJECTED
              - DELETED
          in: query
          name: status
          description: Account status
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start_date'
        - $ref: '#/components/parameters/end_date'
        - schema:
            type: string
            enum:
              - CONSUMER
              - BUSINESS
              - STAKEHOLDER
          in: query
          name: type
          description: Account type
        - schema:
            type: string
            enum:
              - IDENTITY
              - ADDRESS
              - SANCTIONS
              - FRAUD
              - ACTIVATION
              - DOCUMENTS
              - IDENTITY_OPTIONAL_SSN
          in: query
          name: stage
          description: Account stage
        - schema:
            type: string
          in: query
          name: parent_account_uuid
          description: UUID of parent account
      tags:
        - Accounts
    post:
      operationId: accounts
      summary: Create account
      tags:
        - Accounts
      description: |-
        Creates an account in the system. Accounts can be of type `CONSUMER`, `BUSINESS` or `STAKEHOLDER`.

        This service will automatically trigger the KYC/KYB and Identity Management process relevant to the account type.  

        Please note that an account cannot be duplicated within the same parent program account; an account is considered duplicated when the same `external_id` is provided.

        **Note**: For consumer accounts, if you do not set the `primary_address` property, you have to add an address separately to initiate the KYC process.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                external_id:
                  type: string
                  description: |
                    The ID of this account in your own platform. This will be associated with this account and can
                    be used to identify the account as well as protect our API against duplicate accounts.

                    NOTE: This field MUST be unique. Any subsequent Create Account with same `external_id` will fail with a HTTP 409.
                account_type:
                  type: string
                  enum:
                    - CONSUMER
                    - BUSINESS
                    - STAKEHOLDER
                profile:
                  type: string
                  x-stoplight:
                    id: aco2yhtlgdfoo
                  description: 'The Profile that this Account should be created with. If not sent, the account will be created with the Profile set as default in your program configuration'
                information:
                  $ref: '#/components/schemas/Account-information-request'
                primary_address:
                  $ref: '#/components/schemas/Address-request'
                metadata:
                  description: Allows for any number of custom metadata keys and values to be stored with a given account
                  type: object
              required:
                - external_id
                - account_type
                - information
      responses:
        '201':
          $ref: '#/components/responses/account-response-success'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          $ref: '#/components/responses/account-response-idempotency'
  '/accounts/{account_uuid}':
    get:
      tags:
        - Accounts
      summary: Get account
      description: 'Gets the account details, in its current status.'
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - in: path
          name: account_uuid
          required: true
          description: The uuid of the account
          schema:
            type: string
            format: uuid
            title: Account UUID
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: |
            The account was successfully returned.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/account-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: ACC-02
    patch:
      tags:
        - Accounts
      operationId: accounts-account_uuid-patch
      summary: Update account
      description: |
        Updates an existing account in the system.

        How this service works:
          - Only the properties that are present on the request body will be updated.
          - Properties not present on the request body will remain unchanged in the system.
          - To update a property to an empty string or `null` you need to put the correct value on the request.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: string
                  x-stoplight:
                    id: ucdp6fbpma3hq
                  description: The Profile that this Account should be updated to
                information:
                  $ref: '#/components/schemas/Account-information-update'
                metadata:
                  description: Allows for any number of custom metadata keys and values to be stored with a given account
                  type: object
                external_id:
                  type: string
                  description: The external account id of your platform
      responses:
        '200':
          description: |
            The account was successfully updated.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/account-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
    delete:
      tags:
        - Accounts
      operationId: accounts-account_uuid-delete
      summary: Delete account
      description: |
        Removes an account from the system.

        Note: For historical purposes, an account is never deleted, but rather its status is set to `DELETED`.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/account_uuid'
      responses:
        '204':
          description: |
            Account successfully deleted.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id`. Entity has already been deleted.
  '/payment-methods/cards/{payment_method_uuid}':
    parameters:
      - $ref: '#/components/parameters/payment_method_uuid'
    patch:
      summary: Update card
      tags:
        - Payment methods
      responses:
        '200':
          description: Card was successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  card:
                    $ref: '#/components/schemas/card-pm-response'
          headers:
            Alv-Request-Id:
              schema:
                type: string
              description: Alviere's internal unique identifier for the request. This ID is automatically generated by our API service andspans across our entire infrastructure allowing tech ops to trace a request. This id has no business use caseand serves solely for the purpose of technical debugging and troubleshooting.
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/404-Error'
      operationId: PM-12
      x-stoplight:
        id: bdgcmjnl5lvcl
      description: Updates a card payment method properties
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/Card-pm-update'
  '/accounts/{account_uuid}/deactivate':
    put:
      tags:
        - Accounts
      summary: Deactivate consumer account
      description: |
        Deactivates a consumer account.
        Only accounts in `ACTIVE` status can be de-activated
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
      responses:
        '204':
          description: Consumer account inactivated successfully
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict. User account already INACTIVE
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    title: The unique error code
                    description: This error indicates a request conflict with current status of the target resource.
                    type: string
                    example: '50010'
                  error_description:
                    title: A description of the error that occurred
                    description: Description of the error in plain english
                    type: string
                    example: account being processed
      operationId: accounts-account_uuid-inactivate-put
    parameters:
      - schema:
          type: string
        name: account_uuid
        in: path
        required: true
  '/accounts/{account_uuid}/activate':
    put:
      tags:
        - Accounts
      summary: Activate consumer account
      description: |
        Activates a consumer account.
        Only accounts in `INACTIVE` status can ba activated.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
      responses:
        '204':
          description: Consumer account activated successfully
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict. User account already ACTIVE
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    title: The unique error code
                    description: This error indicates a request conflict with current status of the target resource.
                    type: string
                    example: '50010'
                  error_description:
                    title: A description of the error that occurred
                    description: Description of the error in plain english
                    type: string
                    example: account being processed
      operationId: accounts-account_uuid-activate-put
    parameters:
      - $ref: '#/components/parameters/account_uuid'
  '/accounts/{account_uuid}/addresses':
    post:
      tags:
        - Accounts
      summary: Create address
      description: Creates an address and adds it to the account.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address-request'
      responses:
        '201':
          description: |
            The address was successfully created and added to the respective account
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/address-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `label` or `external_id`
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/address-response'
      operationId: accounts-account_uuid-addresses-post
    get:
      tags:
        - Accounts
      summary: List addresses
      description: |-
        Gets the list of addresses associated with the account.
        The `primary` address is used for Identity Verification processes.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: |
            The addresses were returned for the account
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    title: List of addresses
                    type: array
                    items:
                      $ref: '#/components/schemas/address-response'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-addresses-get
  '/accounts/{account_uuid}/addresses/{address_uuid}':
    patch:
      tags:
        - Accounts
      summary: Update address
      description: |-
        Updates an existing address in the account.

        Note: if the primary address is updated, the Identity Verification process is resumed.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/address_uuid'
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address-update'
      responses:
        '200':
          description: |
            The address was updated
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    $ref: '#/components/schemas/address-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-addresses-address_uuid-path
    delete:
      tags:
        - Accounts
      summary: Delete address
      description: |
        Deletes an address from the account. 

        *Note:* A primary address of an account cannot be deleted. If the primary address has changed the original record needs to be updated.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
      responses:
        '204':
          description: |
            Address deleted
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id`. Entity has already been deleted.
      operationId: accounts-account_uuid-addresses-address_uuid-delete
    parameters:
      - schema:
          type: string
        name: address_uuid
        in: path
        required: true
  '/accounts/{account_uuid}/dossiers/{dossier_uuid}':
    get:
      tags:
        - Dossiers
      summary: Get dossier
      description: |
        Gets a specific dossier from the account, including the uploaded documents.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/dossier_uuid'
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: |
            The dossier was returned for the account
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  dossier:
                    $ref: '#/components/schemas/dossier-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-dossiers-dossier_uuid-get
    patch:
      tags:
        - Dossiers
      summary: Update dossier
      description: Updates an existing dossier in the system.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - in: path
          name: dossier_uuid
          required: true
          description: The uuid of the dossier
          schema:
            type: string
            format: uuid
            title: Dossier UUID
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dossier-update'
      responses:
        '200':
          description: |
            The dossier was updated.

            The actual files of the dossier are not returned in this response. To access the files you must call `/accounts/{account_uuid}/dossiers/{dossier_uuid}`
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  dossier:
                    $ref: '#/components/schemas/dossier-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-dossiers-dossier_uuid-patch
    put:
      tags:
        - Dossiers
      summary: Replace dossier
      description: Replaces an existing dossier in the system.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - in: path
          name: dossier_uuid
          required: true
          description: The uuid of the dossier
          schema:
            type: string
            format: uuid
            title: Dossier UUID
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dossier-replace'
        description: ''
      responses:
        '201':
          description: |
            The dossier was replaced.

            The actual files of the dossier are not returned in this response. To access the files you must call `/accounts/{account_uuid}/dossiers/{dossier_uuid}`
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  dossier:
                    $ref: '#/components/schemas/dossier-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-dossiers-dossier_uuid-put
    delete:
      tags:
        - Dossiers
      summary: Delete dossier
      description: Deletes a dossier from the system
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - in: path
          name: dossier_uuid
          required: true
          description: The uuid of the dossier
          schema:
            type: string
            format: uuid
            title: Dossier UUID
        - $ref: '#/components/parameters/Version'
      responses:
        '204':
          description: |
            Dossier deleted
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id`. Entity has already been deleted.
      operationId: accounts-account_uuid-dossiers-dossier_uuid-delete
    parameters:
      - schema:
          type: string
        name: dossier_uuid
        in: path
        required: true
  '/accounts/{account_uuid}/dossiers':
    post:
      tags:
        - Dossiers
      summary: Create dossier
      description: Upload Dossier documents to the account
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dossier-request'
      responses:
        '201':
          description: |
            The user account dossier was successfully created in the system and the KYC and Identity Management processes might have been kicked off.

            The actual files of the dossier are not returned in this response. To access the files you must call `/accounts/{account_uuid}/dossiers/{dossier_uuid}`
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  dossier:
                    $ref: '#/components/schemas/dossier-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Idempotency detected - Conflict on the field `external_id`
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  dossier:
                    $ref: '#/components/schemas/dossier-response'
      operationId: accounts-account_uuid-dossiers-post
    get:
      tags:
        - Dossiers
      summary: List dossiers
      description: |-
        Gets the account dossiers, including all documents that have been uploaded to this account.

        The actual files of the dossier are not returned in this response. To access the files you must call `Get dossier`.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: |
            The dossiers were returned for the account
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  dossiers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dossier-response-list'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-dossiers-get
  '/accounts/{account_uuid}/wallets/{wallet_uuid}':
    get:
      summary: Get wallet
      description: Gets a wallet that belongs to an account
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: |
            The requested wallet
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                description: 'A wallet '
                properties:
                  wallet:
                    $ref: '#/components/schemas/wallet'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: wallet-account_uuid-wallet_uuid-get
      tags:
        - Wallets
    parameters:
      - name: account_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique uuid of an account
      - name: wallet_uuid
        in: path
        required: true
        schema:
          type: string
        description: The unique uuid of an account
  '/wallets/{wallet_uuid}/transactions/statement':
    get:
      summary: Get wallet statement data
      description: |-
        Gets aggregated wallet transaction data required to build a monthly transaction statement for an account wallet.

        Data is only available for months that have ended or that are in the past.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - in: query
          name: scope
          schema:
            enum:
              - DEBITS
              - CREDITS
              - FEES
              - ALL
            default: ALL
          description: 'Whether to perform an operation on all debits, credits or fees'
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/wallet_uuid'
        - schema:
            type: string
            example: 03-2022
          in: query
          name: month_year
          description: The month and year for which the aggregated data is required
          required: true
      responses:
        '200':
          description: |
            The transactions for the user account wallet
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                description: The transactions list
                required:
                  - start_date
                  - end_date
                  - currency
                properties:
                  debits:
                    type: object
                    description: Debits related data
                    required:
                      - amount
                    properties:
                      amount:
                        type: integer
                        description: 'The total debit amount to the wallet in the currency of the transaction, defined in cents. e.g. 1 USD will be represented as amount: 100'
                      transactions:
                        type: array
                        x-stoplight:
                          id: 48kuyzvcn0ixj
                        items:
                          $ref: 'stoplight://resources/overrides/OzbcTvs32lo'
                  credits:
                    type: object
                    description: Credits related data
                    required:
                      - amount
                    properties:
                      amount:
                        type: integer
                        description: 'The total credit amount on the wallet in the currency of the transaction, defined in cents. e.g. 1 USD will be represented as amount: 100'
                      transactions:
                        type: array
                        x-stoplight:
                          id: m73ldrb8xzspp
                        items:
                          $ref: 'stoplight://resources/overrides/OzbcTvs32lo'
                  fees:
                    type: object
                    description: Fees related data
                    required:
                      - amount
                    properties:
                      amount:
                        type: integer
                        description: 'The total amount of fees charged to the wallet in the currency of the transaction, defined in cents. e.g. 1 USD will be represented as amount: 100'
                      transactions:
                        type: array
                        x-stoplight:
                          id: 21zh31givq6x9
                        items:
                          $ref: 'stoplight://resources/overrides/OzbcTvs32lo'
                  start_date:
                    type: string
                    description: The start date of the period considered
                  start_date_funds:
                    $ref: '#/components/schemas/Funds'
                  end_date:
                    type: string
                    description: The end date of the period considered
                  end_date_funds:
                    $ref: '#/components/schemas/Funds'
                  currency:
                    type: string
                    description: The currency code in ISO-4217 format
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: get-wallets-wallet_uuid-transactions-statement
      tags:
        - Wallets
    parameters:
      - name: wallet_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique uuid of a wallet
  '/accounts/{account_uuid}/wallets':
    get:
      summary: List wallets
      description: Gets all wallets that belong to an account
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/account_uuid'
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: |
            All wallets that belong to an account
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                description: The ledger for this user account.
                properties:
                  wallets:
                    type: array
                    items:
                      $ref: '#/components/schemas/wallet'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: wallet-account_uuid-get
      tags:
        - Wallets
    parameters:
      - schema:
          type: string
        name: account_uuid
        in: path
        required: true
  /transactions/release:
    post:
      operationId: TRN-07
      summary: Release funds
      description: This service allows clients to release a transaction amount prior to its settlement in the system.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                external_id:
                  type: string
                  description: |
                    The external id of this request in your own platform. This value is used for idempotency purposes.
                  example: 1AS245CHK
                transaction_uuid:
                  type: string
                  format: uuid
                  description: The unique ID of the transaction
                release_amount:
                  description: |
                    The amount to be released from this transaction prior to settlement, in cents. 
                    e.g. If you want to debit 1 USD the value must be `amount: 100`
                  type: integer
                  minimum: 1
                  maximum: 99999999
                service_fees:
                  type: array
                  items:
                    $ref: '#/components/schemas/Service-fee-release'
              required:
                - external_id
                - transaction_uuid
                - release_amount
      responses:
        '200':
          description: The funds were successfully released
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    $ref: '#/components/schemas/transaction'
                required:
                  - transaction
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Idempotency detected - conflict with `external_id` field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    $ref: '#/components/schemas/transaction'
                required:
                  - transaction
      x-stoplight:
        id: xi6akyzq1wn16
      tags:
        - Transactions
    parameters: []
  '/transactions/{transaction_uuid}':
    get:
      summary: Get transaction details
      description: Gets the details of a transaction
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - in: path
          name: transaction_uuid
          required: true
          description: The uuid of the transaction
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: |
            The transaction from the account wallet
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    $ref: '#/components/schemas/transaction'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: TRN-01
      tags:
        - Transactions
    parameters:
      - $ref: '#/components/parameters/transaction_uuid'
  '/transactions/{transaction_uuid}/reverse':
    post:
      summary: Reverse transaction
      description: 'Trigger the reversal of a transaction. Only applicable to `SERVICE_FEE`, `CASHBACK` or `CARD_ISSUED_INITIAL` transaction types'
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: A short description of the reason the transaction was reversed
      responses:
        '201':
          description: The reversal transaction has been created.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction_uuid:
                    title: Child transaction
                    description: The field will contain the UUID of the reversal transaction that was generated as part of this operation.
                    type: string
                    format: uuid
                    example: 798ee7f3-bb75-4a4c-9a2a-06cb697ddb5e
                required:
                  - transaction_uuid
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on provided transaction UUID. Original transaction has already been reversed
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction_uuid:
                    title: Child transaction
                    description: The field will contain the UUID of the reversal transaction that was generated as part of this operation.
                    type: string
                    format: uuid
                    example: 798ee7f3-bb75-4a4c-9a2a-06cb697ddb5e
                required:
                  - transaction_uuid
      operationId: TRN-05
      tags:
        - Transactions
    parameters:
      - name: transaction_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The uuid of the transaction
  '/wallets/{wallet_uuid}/transactions':
    get:
      summary: List wallet transactions
      description: Gets a list of transactions associated to this wallet
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/wallet_transaction_type'
        - $ref: '#/components/parameters/transaction-status'
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/start_date'
        - $ref: '#/components/parameters/end_date'
        - schema:
            type: string
          in: query
          name: beneficiary_uuid
          description: The unique ID of the Beneficiary that is associated with the transactions
      responses:
        '200':
          description: |
            The transactions for the user account wallet
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                description: The transactions list
                required:
                  - records
                  - transactions
                properties:
                  records:
                    type: integer
                    title: Number of records
                    description: The number of transaction records returned
                  transactions:
                    type: array
                    title: transactions
                    description: The transactions in the user account wallet
                    items:
                      $ref: '#/components/schemas/Wallet-transaction-list'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: wallet-account_uuid-wallet_uuid-transactions-get
      tags:
        - Wallets
    parameters:
      - name: wallet_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique uuid of a wallet
  /transactions:
    get:
      summary: List Transactions
      description: Gets a list of Transactions associated to an Account
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/wallet_transaction_type'
        - $ref: '#/components/parameters/transaction-status'
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/start_date'
        - $ref: '#/components/parameters/end_date'
        - schema:
            type: string
          in: query
          name: account_uuid
          description: The unique ID of the Account
        - schema:
            type: string
          in: query
          name: wallet_uuid
          description: The unique ID of the Wallet
        - schema:
            type: string
          in: query
          name: beneficiary_uuid
          description: The unique ID of a Beneficiary
      responses:
        '200':
          description: |
            The transactions for the user account wallet
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                description: The transactions list
                properties:
                  records:
                    type: integer
                    title: Number of records
                    description: The number of transaction records returned
                  transactions:
                    type: array
                    title: transactions
                    description: The transactions related to this account
                    items:
                      $ref: '#/components/schemas/Wallet-transaction'
                required:
                  - records
                  - transactions
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: TRN-06
      tags:
        - Transactions
      x-stoplight:
        id: veql3hdtxr9jb
  '/transactions/{transaction_uuid}/cancel':
    parameters:
      - name: transaction_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The uuid of the transaction
    put:
      summary: Cancel transaction
      operationId: put-transactions-transaction_uuid---copy
      responses:
        '204':
          description: Transaction successfully canceled
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Transaction is already in a `CANCELED` status
      description: Cancel transaction
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Version'
      tags:
        - Transactions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  x-stoplight:
                    id: omhnmws56wns9
                  description: A small description indicating why the transaction was canceled
                refund_method:
                  x-stoplight:
                    id: 5j7fsg8slfjzy
                  enum:
                    - CASH
                    - CHECK
                  description: The refund method. Only applicable for transactions funded with cash
  '/transactions/{transaction_uuid}/refund':
    parameters:
      - schema:
          type: string
        name: transaction_uuid
        in: path
        required: true
      - name: transaction_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The uuid of the transaction
    put:
      summary: Refund transaction
      tags:
        - Transactions
      responses:
        '204':
          description: Refund method set
          headers:
            Alv-Request-Id:
              schema:
                type: string
              description: Alviere's internal unique identifier for the request. This ID is automatically generated by our API service andspans across our entire infrastructure allowing tech ops to trace a request. This id has no business use caseand serves solely for the purpose of technical debugging and troubleshooting.
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: TRN-09
      x-stoplight:
        id: pz41i560fdes4
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - refund_method
              properties:
                refund_method:
                  x-stoplight:
                    id: 2tusy3bjalyz3
                  description: The refund method
                  enum:
                    - CASH
                    - CHECK
      description: Indicates the refund method for a `REFUND` transaction that is in `PENDING` status
    post - copy:
      summary: Refund transaction
      tags:
        - Transactions
      responses:
        '200':
          description: The refund has been processed
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: '???'
      parameters:
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - refund_method
              properties:
                refund_method:
                  description: The refund method
                  enum:
                    - CASH
                    - CHECK
      description: Indicates the refund optio for a `REFUND` transaction that is in `PENDING` status
  '/transactions/{transaction_uuid}/child_transactions':
    get:
      summary: List child transactions
      description: Gets a list of child transactions associated to this transaction
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/transaction-type'
        - $ref: '#/components/parameters/transaction-status'
        - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: |
            The transactions for the user account wallet
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                description: The transactions list
                required:
                  - records
                  - transactions
                properties:
                  records:
                    type: integer
                    title: Number of records
                    description: The number of transaction records returned
                  transactions:
                    type: array
                    title: transactions
                    description: The transactions in the user account wallet
                    items:
                      $ref: '#/components/schemas/transaction'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: transactions-child-get
      tags:
        - Transactions
    parameters:
      - name: transaction_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The uuid of the transaction
  '/wallets/{wallet_uuid}/load':
    post:
      summary: Load funds
      description: |
        Loads funds to a wallet.

        In order to load funds into the wallet, the user account needs to have a valid payment method, tokenized in the system through the payment methods services.
        Note that loading funds from a Bank Account requires that a Plaid token is present and valid in the system.

        Once funds are loaded in the user account, the account wallet will have the corresponding amount in the `transit` bucket. This means that the loading of funds transaction has been accepted, but the funds are not settled yet. Funds will be settled according to the selected payment method settlement times.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - payment_method_uuid
                - amount
                - external_id
              properties:
                payment_method_uuid:
                  type: string
                  description: The token corresponding to the payment method being used.
                  format: uuid
                amount:
                  description: |
                    The amount is the value associated with the request, in cents. 
                    e.g. If you want to debit 1 USD the value must be `amount: 100`
                  type: integer
                  minimum: 1
                  maximum: 9999999999
                service_fees:
                  type: array
                  title: service fees
                  description: Service fees to be applied to this transaction.
                  items:
                    $ref: '#/components/schemas/service-fee-transaction'
                external_id:
                  title: The unique order ID in the external system
                  description: |
                    This value is used for idempotency purposes.

                    NOTE: This field MUST be unique. Any subsequent transactions with the same value will be discarded.
                  type: string
                  minimum: 8
                  maximum: 64
                transaction_options:
                  type: object
                  description: Options related to transaction handling
                  properties:
                    payment_options:
                      type: object
                      description: Options related to payment processing
                      properties:
                        ACH_type:
                          type: string
                          enum:
                            - SAME_DAY
                            - NEXT_DAY
                          description: Whether the ACH transfer should be done on the same day or next day window batches
                        prefund:
                          type: boolean
                          description: Whether this transaction should be prefunded
                metadata:
                  type: object
                  description: Allows for any number of custom metadata keys and values to be stored with a given transaction
      responses:
        '201':
          $ref: '#/components/responses/wallet-transaction-response-success'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          $ref: '#/components/responses/wallet-transaction-response-idempotency'
      operationId: accounts-account_uuid-wallet_uuid-load-post
      tags:
        - Wallets
    parameters:
      - name: wallet_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The unique uuid of a wallet
  /wallets/spend-management/set:
    post:
      summary: Set spend budget
      description: Load/adjust funds of a Spend Budget
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Single setting
                  required:
                    - target_wallet_uuid
                    - mode
                  properties:
                    target_wallet_uuid:
                      type: string
                      x-stoplight:
                        id: 6k4y6o81krk6d
                      description: The unique ID of the wallet where the funds should be allocated
                    funding_wallet_uuid:
                      type: string
                      x-stoplight:
                        id: kzfnat20cktks
                      description: The unique ID of the source of the funds
                    external_id:
                      title: The unique order ID in the external system
                      description: |
                        This value is used for idempotency purposes.

                        NOTE: This field MUST be unique. Any subsequent transactions with the same value will be discarded.
                      type: string
                      minimum: 8
                      maximum: 64
                    mode:
                      x-stoplight:
                        id: 7qwpod5cjnocj
                      enum:
                        - LOAD
                        - ADJUST
                      description: 'If `LOAD`, the `amount` will be added to the spend budget. If `ADJUST` the existing budget will be replaced with the `amount`'
                    spend_budget:
                      $ref: '#/components/schemas/Spend-budget-request'
                    metadata:
                      type: object
                      description: Allows for any number of custom metadata keys and values to be stored with a given transaction
                - title: Bulk setting
                  x-stoplight:
                    id: lnvsawg238043
                  required:
                    - instructions_file
                  properties:
                    instructions_file:
                      type: string
                      x-stoplight:
                        id: mf84xbk24hiwn
                      format: binary
                      description: A file containing instructions to perform a bulk load
              type: object
      responses:
        '201':
          $ref: '#/components/responses/wallet-transaction-response-success'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          $ref: '#/components/responses/wallet-transaction-response-idempotency'
      operationId: accounts-account_uuid-wallet_uuid-load-post
      tags:
        - Wallets
      x-stoplight:
        id: n5vbriw926bkm
    parameters: []
  /bulk-operations/template:
    parameters: []
    get:
      summary: Download bulk operation template
      tags:
        - Wallets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - instructions_template
                properties:
                  instructions_template:
                    type: string
                    x-stoplight:
                      id: 4orz3x35oedbq
                    format: binary
                    description: Bulk operation template
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: get-wallets-spend-management-download-template
      x-stoplight:
        id: q0u9upk7x420l
      parameters:
        - schema:
            type: string
            enum:
              - CSV
              - XLS
            default: CSV
          in: query
          name: file_type
          description: The required filetype
          required: true
        - $ref: '#/components/parameters/Version'
        - $ref: '#/components/parameters/Authorization'
        - schema:
            type: string
            enum:
              - SPEND_MANAGEMENT
          in: query
          name: operation
          description: The type of bulk operation
          required: true
  '/wallets/{wallet_uuid}/withdraw':
    post:
      summary: Withdraw funds
      description: |
        Alviere supports withdrawing funds from the user account's wallet to an external funding destination using this service.

        In order to withdraw funds from the account wallet, the user account needs to have a valid payment method, tokenized in the system through the payment methods services.
        Note that withdrawing funds to a Card requires that the push-to-debit service is active and the card supports this feature over the debit card rails of the network schemes.

        Once funds are withdrawn from the user account, the account wallet will have the corresponding amount in the `captive` bucket. This means that the withdrawing of funds transaction has been accepted, but the funds are not available in the destination source yet. Funds will be settled according to the selected payment method settlement times.

        **Important Note**: Although withdrawing of funds returns structure of the underlying payment transaction, account wallet operations can only be cancelled using the unique `transaction_uuid`.
      parameters:
        - in: header
          name: Authorization
          required: true
          description: The access token.
          example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
          schema:
            type: string
        - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - payment_method_uuid
                - amount
                - external_id
              properties:
                payment_method_uuid:
                  type: string
                  description: The token corresponding to the payment method being used.
                  format: uuid
                amount:
                  description: |
                    The amount is the value associated with the request, in cents. 
                    e.g. If you want to debit 1 USD the value must be `amount: 100`
                  type: integer
                  minimum: 1
                  maximum: 9999999999
                service_fees:
                  type: array
                  title: service fees
                  description: Service fees associated with the withdraw funds transaction.
                  items:
                    $ref: '#/components/schemas/service-fee-transaction'
                external_id:
                  title: The unique order ID in the external system
                  description: |
                    This value is used for idempotency purposes.

                    NOTE: This field MUST be unique. Any subsequent transactions with the same value will be discarded.
                  type: string
                  minimum: 8
                  maximum: 64
                transaction_options:
                  type: object
                  description: Options related to transaction handling
                  properties:
                    payment_options:
                      type: object
                      description: Options related to payment processing
                      properties:
                        ACH_type:
                          type: string
                          enum:
                            - SAME_DAY
                            - NEXT_DAY
                          description: Whether the ACH transfer should be done on the same day or next day window batches
                metadata:
                  type: object
                  description: Allows for any number of custom metadata keys and values to be stored with a given transaction
      responses:
[...]
