openapi: 3.1.0
info:
  version: '1.1.5'
  title: The HIVE APIs V3
  contact:
    email: support@alviere.com
    url: https://alviere.com/
  x-logo:
    url: img/alviere-logo.svg
  description: |
    # Introduction

    Welcome to The HIVE API documentation!

    This page provides developer API documentation for integrating into the Alviere HIVE platform.


servers:
  - url: https://api.snd.alviere.com
    description: Alviere API
tags:
  - name: Authentication
  - name: Beneficiaries
    x-internal: true
  - name: Bank Payments
  - name: Card Payments
  - name: Fee Rules
  - name: Scheduled Payments
  - name: Batches
  - name: Transactions
  - name: Legal Texts
  - name: Webhooks
    x-internal: true
paths:
  /v3/auth:
    post:
      tags:
        - Authentication
      summary: Authenticate
      description: |
        Generates authentication tokens.

        **Program-level access token:**

        - Provide `client_id` and `client_secret` to authenticate and receive a program-level access token
        - Set `include_public_certificate: true` to include the current public certificate in the response

        **Account-scoped access token (direct method):**
        - Provide `client_id`, `client_secret`, and `account_uuid` in the request body
        - Omit the Authorization header; the program-level token is not required beforehand
        - Receive an account-scoped access token directly, ideal when only account access is needed

        **Account-scoped access token (from program token):**
        - Provide a program-level access token in the `Authorization` header
        - Include `account_uuid` in the request body to generate an account-scoped access token for that specific account

        V3 does not expose refresh tokens. Use short-lived access tokens and re-authenticate on expiry.
      parameters:
        - in: header
          name: Authorization
          required: false
          schema:
            type: string
          description: |
            Optional. Provide an access token (format: `Bearer <token>`) only when you are exchanging it for an account-scoped token. When using client credentials for the direct method, omit this header. If `account_uuid` is sent without client credentials, this header becomes required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/auth-create-request"
            examples:
              access-token:
                summary: Program-level access token
                value:
                  client_id: your_client_id
                  client_secret: your_client_secret
              access-token-with-certificate:
                summary: Program-level access token with certificate
                value:
                  client_id: your_client_id
                  client_secret: your_client_secret
                  include_public_certificate: true
              account-scoped-token-direct:
                summary: Account-scoped token (direct method)
                value:
                  client_id: your_client_id
                  client_secret: your_client_secret
                  account_uuid: 550e8400-e29b-41d4-a716-446655440000
              account-scoped-token-direct-with-certificate:
                summary: Account-scoped token with certificate (direct method)
                value:
                  client_id: your_client_id
                  client_secret: your_client_secret
                  account_uuid: 550e8400-e29b-41d4-a716-446655440000
                  include_public_certificate: true
              account-scoped-token-exchange:
                summary: Account-scoped token (program token exchange)
                description: Requires Authorization header `Bearer <program_token>`
                value:
                  account_uuid: 550e8400-e29b-41d4-a716-446655440000
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth-create-response"
              examples:
                program-level-token:
                  summary: Program-level access token response
                  value:
                    access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                    expires_in: 300
                    token_type: bearer
                program-level-token-with-certificate:
                  summary: Program-level token with certificate
                  value:
                    access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                    expires_in: 300
                    token_type: bearer
                    public_certificate:
                      id: cert_2025_01
                      certificate: "-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
                account-scoped-token:
                  summary: Account-scoped access token response
                  value:
                    access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImFjY291bnRfdXVpZCI6IjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCJ9...
                    expires_in: 300
                    token_type: bearer
                account-scoped-token-with-certificate:
                  summary: Account-scoped token with certificate
                  value:
                    access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImFjY291bnRfdXVpZCI6IjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCJ9...
                    expires_in: 300
                    token_type: bearer
                    public_certificate:
                      id: cert_2025_01
                      certificate: "-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
        "400":
          $ref: "#/components/responses/400-Error"
        "401":
          $ref: "#/components/responses/401-Error"
        "403":
          $ref: "#/components/responses/403-Error"
        "500":
          $ref: "#/components/responses/500-Error"
      operationId: auth-create
      security: []
  /v3/beneficiaries:
    post:
      x-internal: true
      summary: Create beneficiary
      description: Create a new Beneficiary associated with this account
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/beneficiary-request'
      responses:
        '200':
          description: |
            The request was successful and the new Beneficiary was created.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiary:
                    $ref: '#/components/schemas/beneficiary-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id`
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiary:
                    $ref: '#/components/schemas/beneficiary-response'
      operationId: accounts-account_uuid-beneficiaries-post
      tags:
        - Beneficiaries
    get:
      x-internal: true
      summary: List beneficiaries
      description: Gets all Beneficiaries associated to an account
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - schema:
            type: string
            enum:
              - LOCAL
              - INTERNATIONAL
          in: query
          name: type
          description: The type of beneficiary
        - schema:
            type: boolean
          in: query
          name: with_transactions_only
          description: Filter beneficiaries to only include those with transactions
        - schema:
            type: string
            enum:
              - INDIVIDUAL
              - BUSINESS
          in: query
          name: legal_type
          description: The legal type of beneficiary
        - schema:
            type: string
          in: query
          name: status
          description: The status of beneficiary
        - schema:
            type: string
          in: query
          name: beneficiary_external_id
          description: Filter by beneficiary external ID
        - schema:
            type: string
            format: uuid
          in: query
          name: account_uuid
          description: Filter by account UUID
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minLength: 1
            default: 10
            maxLength: 500
            minimum: 1
            maximum: 500
          description: The number of items per page
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: OK
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/beneficiary-response'
                required:
                  - beneficiaries
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-beneficiaries-get
      tags:
        - Beneficiaries
  /v3/beneficiaries/{beneficiary_uuid}:
    patch:
      x-internal: true
      summary: Update beneficiary
      description: |
        Updates a Beneficiary.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/beneficiary_uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/beneficiary-update'
      responses:
        '200':
          description: |
            The Beneficiary was updated.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiary:
                    $ref: '#/components/schemas/beneficiary-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id`
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/beneficiary-response'
      operationId: accounts-account_uuid-beneficiaries-beneficiary_uuid-patch
      tags:
        - Beneficiaries
    get:
      x-internal: true
      summary: Get beneficiary
      description: Gets a beneficiary.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/beneficiary_uuid'
      responses:
        '200':
          description: OK
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiary:
                    $ref: '#/components/schemas/beneficiary-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-beneficiaries-beneficiary_uuid-get
      tags:
        - Beneficiaries
    delete:
      x-internal: true
      summary: Delete beneficiary
      description: Deletes a beneficiary
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/beneficiary_uuid'
      responses:
        '204':
          description: Beneficiary successfully deleted
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id`. Entity has already been deleted.
      operationId: accounts-account_uuid-beneficiaries-beneficiary_uuid-delete
      tags:
        - Beneficiaries
  /v3/ach/debit:
    post:
      summary: ACH Debit
      description: |
        Creates a new payment transaction from a payment method to a wallet.

        **Payment Flow:**
        - Source: Payment method (e.g., bank account with mandate on file)
        - Destination: Business wallet to receive funds
        - The payment is created with status `CREATED` and processed asynchronously. If `execute_at`
          is a future timestamp, it is instead created in status `WAITING` and held — moving no
          funds — until that date, then released through the ordinary payment lifecycle.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment-create-request'
            examples:
              immediate-payment:
                summary: Immediate payment
                value:
                  external_id: inv_1000456
                  amount: "25.99"
                  currency: USD
                  source:
                    payment_method_uuid: 123e4567-e89b-12d3-a456-426614174000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  accepted_legal_texts:
                    - ee332079-3bf4-4f9d-8f2b-df980c459ee9
                  description: Invoice #1000456
                  metadata:
                    invoice_id: "1000456"
              future-dated-payment:
                summary: Future-dated payment held until execute_at
                value:
                  external_id: inv_1000457
                  amount: "25.99"
                  currency: USD
                  source:
                    payment_method_uuid: 123e4567-e89b-12d3-a456-426614174000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  accepted_legal_texts:
                    - ee332079-3bf4-4f9d-8f2b-df980c459ee9
                  execute_at: "2025-02-01T09:00:00Z"
                  description: Invoice #1000457 (scheduled)
                  metadata:
                    invoice_id: "1000457"
      responses:
        '201':
          description: |
            The request was successful and the payment was created.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-create-response'
              examples:
                immediate-payment:
                  summary: Immediate payment response
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: inv_1000456
                      type: PAYMENT
                      status: CREATED
                      description: Invoice #1000456
                      amount: "25.99"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      returned: false
                      funds_source:
                        payment_method_uuid: "123e4567-e89b-12d3-a456-426614174001"
                      created_at: "2020-12-30T15:04:05.999999999Z"
                      updated_at: "2020-12-30T15:04:05.999999999Z"
                      metadata:
                        invoice_id: "1000456"
                payment-with-fees:
                  summary: Payment response with service fees
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: inv_1000456
                      type: PAYMENT
                      status: CREATED
                      description: Invoice #1000456
                      amount: "25.99"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      returned: false
                      funds_source:
                        payment_method_uuid: "123e4567-e89b-12d3-a456-426614174001"
                      child_transactions:
                        - transaction_uuid: "789e0123-e89b-12d3-a456-426614174002"
                          type: SERVICE_FEE
                          status: COMPLETED
                          amount: "-3.00"
                          currency: USD
                      created_at: "2020-12-30T15:04:05.999999999Z"
                      updated_at: "2020-12-30T15:04:05.999999999Z"
                      metadata:
                        invoice_id: "1000456"
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id` - returns the existing transaction
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-create-response'
              examples:
                duplicate-payment:
                  summary: Duplicate payment - returns existing transaction
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: inv_1000456
                      type: PAYMENT
                      status: CREATED
                      description: Invoice #1000456
                      amount: "25.99"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      returned: false
                      funds_source:
                        payment_method_uuid: "123e4567-e89b-12d3-a456-426614174001"
                      created_at: "2020-12-30T15:04:05.999999999Z"
                      updated_at: "2020-12-30T15:04:05.999999999Z"
                      metadata:
                        invoice_id: "1000456"
      operationId: payments-create
      tags:
        - Bank Payments
  /v3/instant/transfer:
    post:
      summary: Send an instant payment
      description: |
        Push funds instantly from a wallet to a bank account over FedNow or TCH RTP. Settlement is typically within seconds.

        In `destination`, provide exactly one of:
        - `payout_method_uuid` — push to a third-party recipient's saved payout method.
        - `payment_method_uuid` — push to the payer's own saved bank-account payment method.

        The synchronous response is the Alviere transaction record, not final settlement proof — the bank leg may only be acknowledged at this point. Use `GET /v3/transactions/{transaction_uuid}` for the terminal `COMPLETED` / `REJECTED` result.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/instant-payment-create-request'
            examples:
              third-party-push:
                summary: Push to a third-party payout method
                value:
                  external_id: inv-2026-0001
                  amount: "250.00"
                  currency: USD
                  source:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  destination:
                    payout_method_uuid: d31600ed-75dd-4aef-9dcb-0b95e27da302
                  network: FEDNOW
                  description: Invoice 2026-0001
                  metadata:
                    invoice_id: "2026-0001"
              own-account-push:
                summary: Push to the payer's own bank account
                value:
                  external_id: wd-2026-0007
                  amount: "100.00"
                  currency: USD
                  source:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  destination:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  network: TCH_RTP
                  description: Withdrawal to own account
                  metadata:
                    withdrawal_id: wd-2026-0007
      responses:
        '201':
          description: The instant payment was created.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/instant-transfer-response'
              examples:
                processing:
                  summary: Instant payment processing
                  value:
                    transaction:
                      transaction_uuid: 9d64e7be-6a24-48dd-9f84-b2a3f7305e22
                      external_id: inv-2026-0001
                      type: INSTANT_BANK_TRANSFER
                      status: PROCESSING_PAYMENT
                      description: Invoice 2026-0001
                      amount: "-250.00"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "5c9a6e47-1b0b-4895-a6a5-2697e8b7aa21"
                      funds_source:
                        wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      funds_destination:
                        payout_method_uuid: "d31600ed-75dd-4aef-9dcb-0b95e27da302"
                      type_details:
                        instant_transfer_details:
                          network: FEDNOW
                      metadata:
                        invoice_id: "2026-0001"
                      created_at: "2026-06-27T14:21:51.120Z"
                      updated_at: "2026-06-27T14:21:51.120Z"
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on `external_id` — returns the existing transaction
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/instant-transfer-response'
      operationId: instant-transfer-create
      tags:
        - Bank Payments
  /v3/instant/request:
    post:
      summary: Request a payment (RfP)
      description: |
        Ask a payer to push funds to a wallet over TCH RTP. Payment is not guaranteed. The request closes automatically at `expires_at`.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/instant-payment-request-create-request'
            examples:
              request-from-known-payer:
                summary: Request payment from a known payment method
                value:
                  external_id: rfp-2026-0001
                  source:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  destination:
                    wallet_uuid: 3b0c5dd8-83fc-4d62-b54b-3780148e50c9
                  amount: "1000.00"
                  currency: USD
                  network: TCH_RTP
                  expires_at: "2026-06-28T23:59:59.000Z"
                  description: Rent request June 2026
      responses:
        '201':
          description: The Request for Payment was created.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/instant-payment-request-response'
              examples:
                created:
                  summary: Request for Payment created
                  value:
                    transaction:
                      transaction_uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      external_id: rfp-2026-0001
                      type: INSTANT_PAYMENT_REQUEST
                      status: CREATED
                      description: Rent request June 2026
                      amount: "1000.00"
                      currency: USD
                      wallet_uuid: "3b0c5dd8-83fc-4d62-b54b-3780148e50c9"
                      account_uuid: "5c9a6e47-1b0b-4895-a6a5-2697e8b7aa21"
                      expires_at: "2026-06-28T23:59:59.000Z"
                      funds_source:
                        payment_method_uuid: "550e8400-e29b-41d4-a716-446655440000"
                      type_details:
                        instant_transfer_details:
                          network: TCH_RTP
                      created_at: "2026-06-27T10:00:00.000Z"
                      updated_at: "2026-06-27T10:00:00.000Z"
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on `external_id` — returns the existing transaction
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/instant-payment-request-response'
      operationId: instant-payment-request-create
      tags:
        - Bank Payments
  /v3/cards/debit:
    post:
      summary: Accept a card payment
      description: |
        Accept a payment from a customer's card. Funds settle into a wallet on your platform.

        **Charge a saved card or charge a card directly:** In `source`, provide exactly one of:
        - `payment_method_uuid` — charge a card the customer has previously saved on your platform.
        - `card` — charge a card from inline details (typical for guest checkout or one-time payments). Sending raw card data requires PCI compliance on your side.

        **Authorize and capture, or authorize now and capture later:**
        - `auth_type: AUTHCAP` — authorize and capture in one step. The card is charged immediately and funds are captured. Use this for digital goods or any flow where you fulfill on the spot.
        - `auth_type: AUTH` — authorize now, capture later. Funds are held on the card but not captured. The transaction returns `status: COMPLETED` with `captured_at` absent. Capture later via `POST /v3/cards/capture`.

        **3-D Secure verification:**
        If 3-D Secure verification is required — either because you requested it (`3ds_preference: ENABLED` on the card) or because the end consumer's bank requires it — the response returns:
        - `status: PENDING`
        - `status_reason: 3DS_AUTH_REQUIRED`
        - `type_details.card_payment_details.3ds_challenge.redirect_url` — redirect the end consumer here.

        Once the end consumer verifies with their bank, Alviere finalizes the transaction automatically. Fetch the transaction via `GET /v3/transactions/{transaction_uuid}` (or listen for the corresponding webhook) to see the final `status` and `status_reason`.

        **Recurring and saved-card payments:**
        For subscription rebills, scheduled charges, or any time you charge a saved card without the end consumer present, send a `recurring` block:
        - On the first charge with a saved card, set `recurring.sequence: INITIAL`. Alviere records the credential so later charges work.
        - On every subsequent charge, set `recurring.sequence: SUBSEQUENT`. Alviere handles the credential lookup for you.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-debit-request'
            examples:
              authcap-saved-card:
                summary: AUTHCAP using a saved payment method
                value:
                  external_id: order_1000456
                  amount: "25.99"
                  currency: USD
                  source:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  auth_type: AUTHCAP
                  channel: ECOM
                  merchant_details:
                    name: Acme Coffee
                    mcc: "5814"
                    descriptor: ACME COFFEE
                    descriptor_city: BROOKLYN
                  description: Order #1000456
                  metadata:
                    order_id: "1000456"
              authcap-inline-card:
                summary: AUTHCAP using inline card details
                value:
                  external_id: order_1000457
                  amount: "25.99"
                  currency: USD
                  source:
                    card:
                      pan: "4111111111111111"
                      exp_month: "12"
                      exp_year: "27"
                      security_code: "123"
                      name_on_card: Jane Doe
                      billing_address:
                        line_1: 123 Main St
                        city: Brooklyn
                        state: NY
                        country: USA
                        postal_code: "11201"
                      3ds_options:
                        3ds_preference: ENABLED
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  auth_type: AUTHCAP
                  channel: ECOM
                  return_url: https://merchant.com/checkout/return?order=1000457
                  ip_address: 203.0.113.42
                  description: Order #1000457
              auth-only:
                summary: AUTH-only (capture later)
                value:
                  external_id: order_1000458
                  amount: "150.00"
                  currency: USD
                  source:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  auth_type: AUTH
                  channel: ECOM
              recurring-subscription:
                summary: Recurring subscription rebill (subsequent merchant-initiated)
                value:
                  external_id: sub_1000459
                  amount: "9.99"
                  currency: USD
                  source:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  auth_type: AUTHCAP
                  recurring:
                    initiator: MERCHANT
                    processing_model: SUBSCRIPTION
                    sequence: SUBSEQUENT
      responses:
        '201':
          description: The transaction was created. Inspect `status`, `status_reason`, and `type_details.card_payment_details.captured_at` to determine the outcome.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
              examples:
                authcap-success:
                  summary: AUTHCAP completed (captured)
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000456
                      type: PAYMENT
                      status: COMPLETED
                      description: Order #1000456
                      amount: "25.99"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      funds_source:
                        payment_method_uuid: "550e8400-e29b-41d4-a716-446655440000"
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: "411111"
                          last4: "1111"
                          exp_month: 12
                          exp_year: 2027
                          auth_type: AUTHCAP
                          authorization_code: TX4271
                          captured_at: "2026-05-15T15:04:05.999999999Z"
                          channel: ECOM
                          avs_result: M
                          cvv_result: M
                          3ds_details:
                            3ds_result: AUTHENTICATED
                            3ds_preference: ENABLED
                            eci: "05"
                            version: "2.2"
                      metadata:
                        order_id: "1000456"
                      created_at: "2026-05-15T15:04:05.999999999Z"
                      updated_at: "2026-05-15T15:04:05.999999999Z"
                auth-only-pending-capture:
                  summary: AUTH-only succeeded; awaiting capture (captured_at absent)
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000458
                      type: PAYMENT
                      status: COMPLETED
                      amount: "150.00"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      funds_source:
                        payment_method_uuid: "550e8400-e29b-41d4-a716-446655440000"
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: "411111"
                          last4: "1111"
                          exp_month: 12
                          exp_year: 2027
                          auth_type: AUTH
                          authorization_code: TX4271
                          avs_result: M
                          cvv_result: M
                      created_at: "2026-05-15T15:04:05.999999999Z"
                      updated_at: "2026-05-15T15:04:05.999999999Z"
                challenge-pending:
                  summary: 3DS challenge required
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000456
                      type: PAYMENT
                      status: PENDING
                      status_reason: "3DS_AUTH_REQUIRED"
                      amount: "25.99"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      funds_source:
                        payment_method_uuid: "550e8400-e29b-41d4-a716-446655440000"
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: "411111"
                          last4: "1111"
                          3ds_challenge:
                            redirect_url: https://3ds.alviere.com/challenge?session=abc123
                            expires_at: "2026-05-15T15:14:05Z"
                      created_at: "2026-05-15T15:04:05.999999999Z"
                      updated_at: "2026-05-15T15:04:05.999999999Z"
                declined:
                  summary: Declined by issuer
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000456
                      type: PAYMENT
                      status: FAILED
                      status_reason: "NON_SUFFICIENT_FUNDS"
                      amount: "25.99"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      funds_source:
                        payment_method_uuid: "550e8400-e29b-41d4-a716-446655440000"
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: "411111"
                          last4: "1111"
                          avs_result: N
                          cvv_result: M
                          processor_code: "51"
                          processor_message: Insufficient funds
                      created_at: "2026-05-15T15:04:05.999999999Z"
                      updated_at: "2026-05-15T15:04:05.999999999Z"
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on `external_id` — returns the existing transaction
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
      operationId: cards-debit
      tags:
        - Card Payments
  /v3/cards/capture:
    post:
      summary: Capture card transaction
      description: |
        Capture a previously authorized (AUTH-only) card transaction.

        Only valid when the parent transaction's `type_details.card_payment_details.auth_type` is `AUTH` and `captured_at` is not yet set.
        Omit `amount` to capture the full authorized amount; pass `amount` to capture a smaller amount (partial capture) — the unused authorization is released back to the cardholder.

        On success, the transaction's `type_details.card_payment_details.captured_at` is populated.
        The transaction's `status` remains `COMPLETED` — no new transaction is created.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-capture-request'
            examples:
              capture-full:
                summary: Capture the full authorized amount
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
              capture-partial:
                summary: Partial capture (less than the authorized amount)
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  amount: "100.00"
              capture-with-metadata:
                summary: Capture with an annotation
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  description: Captured on fulfillment
                  metadata:
                    fulfillment_id: ful_88102
      responses:
        '201':
          description: The transaction was captured successfully.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
              examples:
                captured:
                  summary: AUTH-only transaction now captured
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000458
                      type: PAYMENT
                      status: COMPLETED
                      amount: "150.00"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      funds_source:
                        payment_method_uuid: "550e8400-e29b-41d4-a716-446655440000"
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: "411111"
                          last4: "1111"
                          exp_month: 12
                          exp_year: 2027
                          auth_type: AUTH
                          authorization_code: TX4271
                          captured_at: "2026-05-15T16:10:22.000000000Z"
                          avs_result: M
                          cvv_result: M
                      created_at: "2026-05-15T15:04:05.999999999Z"
                      updated_at: "2026-05-15T16:10:22.000000000Z"
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Transaction is not in a state that allows capture
      operationId: cards-capture
      tags:
        - Card Payments
  /v3/cards/reverse:
    post:
      summary: Reverse card transaction
      description: |
        Reverse a previously created card transaction. The endpoint dispatches based on whether the parent
        transaction has been captured — surfaced via `type_details.card_payment_details.captured_at`.

        **Dual response:**
        - **HTTP 201** with a new REFUND transaction — when the parent's `captured_at` is set. The new transaction
          has `type: REFUND`, negative `amount`, and `parent_transaction_uuid` linking back to the original.
        - **HTTP 204** with no body — when the parent's `captured_at` is absent (AUTH-only, not yet captured).
          The authorization is voided in place; no new transaction is created. Refetch the parent via
          `GET /v3/transactions/{transaction_uuid}` to see status flipped to `VOIDED`.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-reverse-request'
            examples:
              reverse-full:
                summary: Full reversal of a captured transaction
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  external_id: refund_order_1000456
                  amount: "25.99"
                  refund_reason: CUSTOMER_REQUEST
                  description: Refund for cancelled order
              reverse-partial:
                summary: Partial reversal
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  external_id: refund_partial_1000456
                  amount: "10.00"
                  refund_reason: CUSTOMER_REQUEST
              void-auth:
                summary: Void an AUTH-only transaction (parent has no captured_at)
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  external_id: void_order_1000458
                  amount: "150.00"
                  refund_reason: CUSTOMER_REQUEST
      responses:
        '201':
          description: |
            A new REFUND transaction was created. Returned when the parent was already captured/settled.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
              examples:
                refund-created:
                  summary: Refund transaction created
                  value:
                    transaction:
                      transaction_uuid: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                      external_id: refund_order_1000456
                      type: REFUND
                      status: COMPLETED
                      description: Refund for cancelled order
                      amount: "-25.99"
                      currency: USD
                      parent_transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      funds_source:
                        payment_method_uuid: "550e8400-e29b-41d4-a716-446655440000"
                      type_details:
                        card_payment_details:
                          brand: VISA
                          last4: "1111"
                          authorization_code: RF8821
                      refund_reason: CUSTOMER_REQUEST
                      created_at: "2026-05-16T10:22:00.000000000Z"
                      updated_at: "2026-05-16T10:22:00.000000000Z"
        '204':
          description: |
            The parent transaction was AUTH-only with `captured_at` not yet set. The authorization was voided in place;
            no new transaction was created. Refetch the parent to see `status: VOIDED`.
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Transaction is not in a state that allows reversal
      operationId: cards-reverse
      tags:
        - Card Payments
  /v3/cards/push:
    post:
      summary: Push funds to a card
      description: |
        Push funds from a wallet to a card payment method — an Original Credit Transaction (OCT).
        Use for marketplace payouts, disbursements, P2P transfers, and instant payouts.

        The destination must be a previously saved card payment method. Raw card details are not accepted on this endpoint.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-push-request'
            examples:
              marketplace-payout:
                summary: Marketplace payout (funds disbursement)
                value:
                  external_id: payout_1000600
                  amount: "250.00"
                  currency: USD
                  source:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  destination:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  purpose: FUNDS_DISBURSEMENT
                  description: Weekly payout
                  metadata:
                    payee_id: driver_88102
              p2p-transfer:
                summary: Person-to-person transfer
                value:
                  external_id: p2p_1000601
                  amount: "50.00"
                  currency: USD
                  source:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  destination:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  purpose: P2P
      responses:
        '201':
          description: The push transaction was created.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
              examples:
                push-completed:
                  summary: Push completed
                  value:
                    transaction:
                      transaction_uuid: 7a1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                      external_id: payout_1000600
                      type: CARD_CREDIT
                      status: COMPLETED
                      description: Weekly payout
                      amount: "250.00"
                      currency: USD
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      funds_source:
                        payment_method_uuid: "550e8400-e29b-41d4-a716-446655440000"
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: "411111"
                          last4: "1111"
                          authorization_code: OCT9912
                      metadata:
                        payee_id: driver_88102
                      created_at: "2026-05-18T10:00:00.000000000Z"
                      updated_at: "2026-05-18T10:00:00.000000000Z"
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on `external_id` — returns the existing transaction
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
      operationId: cards-push
      tags:
        - Card Payments
  /v3/fee-rules:
    post:
      tags:
        - Fee Rules
      summary: Create fee rule
      description: |
        Creates a fee rule.

        - For `fee_scope=ACCOUNT`, you can optionally provide `account_uuids` during creation or manage them later via `PUT /v3/fee-rules/account-associations`. ACCOUNT-owned rules must be explicitly associated to apply.
        - For `fee_scope=PROGRAM`, the rule applies to all accounts under the program (no account associations required).
      operationId: fee-rules-create
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fee-rule-create'
      responses:
        '201':
          description: Fee rule created. Use `GET /v3/fee-rules/{fee_rule_uuid}/account-associations` to verify account associations.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fee-rule-create-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id` - returns the existing fee rule without any account_uuids. Any account_uuids provided in the request will be ignored. Use `PUT /v3/fee-rules/account-associations` to manage associations for existing rules.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fee-rule-response'
    get:
      tags:
        - Fee Rules
      summary: List fee rules
      description: |
        Lists fee rules within the program scope of the access token.

        Use `account_uuid` to filter to fee rules that apply to a specific account (includes program-owned rules and account-owned rules explicitly associated to that account).
      operationId: fee-rules-list
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - in: query
          name: fee_scope
          required: false
          schema:
            $ref: '#/components/schemas/fee-rule-fee-scope'
        - in: query
          name: fee_type
          required: false
          schema:
            $ref: '#/components/schemas/fee-rule-fee-type'
        - in: query
          name: status
          required: false
          schema:
            $ref: '#/components/schemas/fee-rule-status'
        - in: query
          name: account_uuid
          required: false
          description: Filter to fee rules that apply to this account UUID.
          schema:
            type: string
            format: uuid
        - in: query
          name: transaction_type
          required: false
          schema:
            $ref: '#/components/schemas/fee-rule-parent-transaction-type'
      responses:
        '200':
          description: Fee rules list
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fee-rule-list-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
  /v3/fee-rules/{fee_rule_uuid}:
    get:
      tags:
        - Fee Rules
      summary: Get fee rule
      description: Gets a single fee rule.
      operationId: fee-rules-get
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/fee_rule_uuid'
      responses:
        '200':
          description: Fee rule details
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fee-rule-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
    patch:
      tags:
        - Fee Rules
      summary: Update fee rule
      description: |
        Updates an existing fee rule.

        Immutable fields: `fee_scope`, `fee_type`.
      operationId: fee-rules-update
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/fee_rule_uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fee-rule-update'
      responses:
        '200':
          description: Fee rule updated
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fee-rule-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
    delete:
      tags:
        - Fee Rules
      summary: Delete fee rule
      description: Soft deletes a fee rule by setting its status to `DELETED`.
      operationId: fee-rules-delete
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/fee_rule_uuid'
      responses:
        '204':
          description: Fee rule deleted
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
  /v3/fee-rules/{fee_rule_uuid}/account-associations:
    get:
      tags:
        - Fee Rules
      summary: List fee rule account associations
      description: Lists accounts explicitly associated to a fee rule (relevant for ACCOUNT-owned rules). To update account associations, use `PUT /v3/fee-rules/account-associations`.
      operationId: fee-rules-account-associations-list
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/fee_rule_uuid'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Account associations list
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fee-rule-account-associations-list-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
  /v3/fee-rules/account-associations:
    put:
      tags:
        - Fee Rules
      summary: Manage account fee rule associations
      description: |
        Adds and removes fee rule associations for an account in a single request.

        Use this endpoint when onboarding a merchant to assign multiple fee rules at once.

        Account associations are required only for ACCOUNT-owned fee rules (`fee_scope=ACCOUNT`). PROGRAM-owned fee rules apply to all accounts under the program.
      operationId: fee-rule-associations-update
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fee-rule-associations-update-request'
      responses:
        '200':
          description: Fee rule associations updated
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fee-rule-associations-update-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
  /v3/schedule/payments:
    post:
      tags:
        - Scheduled Payments
      summary: Create payment schedule
      description: |
        Creates a payment schedule — a standing collect instruction (payment method → wallet)
        that runs on a cadence. An occurrence may be skipped or fail without creating a transaction.

        Occurrences run on ACH banking days; one falling on a weekend or holiday runs the next
        banking day.
      operationId: schedules-payments-create
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schedule-payment-create-request'
            examples:
              monthly-premium:
                summary: Monthly fixed collection
                value:
                  external_id: sched_premium_monthly
                  amount:
                    type: FIXED
                    value: "150.00"
                  currency: USD
                  source:
                    payment_method_uuid: 123e4567-e89b-12d3-a456-426614174000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  schedule_details:
                    frequency: MONTHLY
                    day_of_month: "1"
                    execute_at: "2025-02-01T09:00:00Z"
                  accepted_legal_texts:
                    - ee332079-3bf4-4f9d-8f2b-df980c459ee9
                  description: Monthly premium collection
                  metadata:
                    policy_id: POL-2025-001
      responses:
        '201':
          description: Payment schedule created
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-response'
              examples:
                monthly-premium-response:
                  summary: Monthly fixed collection response
                  value:
                    schedule:
                      schedule_uuid: 550e8400-e29b-41d4-a716-446655440000
                      external_id: sched_premium_monthly
                      type: PAYMENT
                      status: ACTIVE
                      amount:
                        type: FIXED
                        value: "150.00"
                      currency: USD
                      source:
                        payment_method_uuid: 123e4567-e89b-12d3-a456-426614174000
                      destination:
                        wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      schedule_details:
                        frequency: MONTHLY
                        day_of_month: "1"
                        execute_at: "2025-02-01T09:00:00Z"
                      execution_details:
                        next_execution: "2025-02-01T09:00:00Z"
                        transaction_count: 0
                      description: Monthly premium collection
                      account_uuid: 660e8400-e29b-41d4-a716-446655440000
                      metadata:
                        policy_id: POL-2025-001
                      created_at: "2025-01-10T10:30:00Z"
                      updated_at: "2025-01-10T10:30:00Z"
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '409':
          description: Conflict on the field `external_id` - returns the existing schedule
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-response'

  /v3/schedule/withdraws:
    post:
      tags:
        - Scheduled Payments
      summary: Create withdraw schedule
      description: |
        Creates a withdraw schedule — a standing push instruction (wallet → payment method)
        that runs on a cadence. An occurrence may be skipped or fail without creating a transaction.

        Occurrences run on ACH banking days; one falling on a weekend or holiday runs the next
        banking day. A `RULE` amount derives at occurrence time, so a deferred occurrence sweeps
        whatever accumulated.

        A derived amount of zero records a `SKIPPED` execution with `status_reason: ZERO_BALANCE`.
      operationId: schedules-withdraws-create
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schedule-withdraw-create-request'
            examples:
              daily-settled-balance:
                summary: Daily balance sweep
                value:
                  external_id: sweep_daily_settled
                  amount:
                    type: RULE
                    rule_name: SETTLED_BALANCE
                  currency: USD
                  source:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  destination:
                    payment_method_uuid: 323e4567-e89b-12d3-a456-426614174000
                  schedule_details:
                    frequency: DAILY
                    execute_at: "2025-01-17T09:00:00Z"
                  description: Daily sweep of settled balance
                  metadata:
                    merchant_id: MER-4471
              weekly-fixed:
                summary: Weekly fixed withdrawal
                value:
                  external_id: withdraw_weekly_fixed
                  amount:
                    type: FIXED
                    value: "1000.00"
                  currency: USD
                  source:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  destination:
                    payment_method_uuid: 323e4567-e89b-12d3-a456-426614174000
                  schedule_details:
                    frequency: WEEKLY
                    day_of_week: FRIDAY
                    end_date: "2025-12-31"
                    execute_at: "2025-01-17T09:00:00Z"
                  description: Weekly fixed withdrawal
                  metadata:
                    purpose: operating_funds
      responses:
        '201':
          description: Withdraw schedule created
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-response'
              examples:
                daily-settled-balance-response:
                  summary: Daily balance sweep response
                  value:
                    schedule:
                      schedule_uuid: 550e8400-e29b-41d4-a716-446655440001
                      external_id: sweep_daily_settled
                      type: WITHDRAW
                      status: ACTIVE
                      amount:
                        type: RULE
                        rule_name: SETTLED_BALANCE
                      currency: USD
                      source:
                        wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      destination:
                        payment_method_uuid: 323e4567-e89b-12d3-a456-426614174000
                      schedule_details:
                        frequency: DAILY
                        execute_at: "2025-01-17T09:00:00Z"
                      execution_details:
                        next_execution: "2025-01-18T09:00:00Z"
                        transaction_count: 0
                      description: Daily sweep of settled balance
                      account_uuid: 660e8400-e29b-41d4-a716-446655440000
                      metadata:
                        merchant_id: MER-4471
                      created_at: "2025-01-10T10:30:00Z"
                      updated_at: "2025-01-10T10:30:00Z"
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '409':
          description: Conflict on the field `external_id` - returns the existing schedule
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-response'

  /v3/schedule:
    get:
      tags:
        - Scheduled Payments
      summary: List schedules
      description: |
        Lists payment and withdraw schedules for the account.

        Filter by `type` (`PAYMENT` | `WITHDRAW`) when you need one direction only.
      operationId: schedules-list
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/schedule-status'
          description: Filter by status
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/schedule-type'
          description: Filter by schedule type
        - name: wallet_uuid
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by wallet UUID (source or destination)
        - name: executed_after
          in: query
          schema:
            type: string
            format: date-time
          description: Filter schedules with next execution after this datetime
        - name: executed_before
          in: query
          schema:
            type: string
            format: date-time
          description: Filter schedules with next execution before this datetime
      responses:
        '200':
          description: OK
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-list-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'

  /v3/schedule/{schedule_uuid}:
    parameters:
      - $ref: '#/components/parameters/schedule_uuid'
      - $ref: '#/components/parameters/Authorization'
    get:
      tags:
        - Scheduled Payments
      summary: Get schedule
      description: |
        Gets a payment or withdraw schedule by `schedule_uuid`.

        Use `/v3/schedule/{schedule_uuid}/executions` for occurrence history.
      operationId: schedules-get
      responses:
        '200':
          description: OK
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
    patch:
      tags:
        - Scheduled Payments
      summary: Update schedule
      description: |
        Updates a schedule. Only `ACTIVE` or `PAUSED` schedules can be modified.

        **Updatable fields:**
        - `amount`: Modify the stored amount. `RULE` is valid for withdraw schedules only; sending it for a payment schedule returns 400.
        - `description`: Update description
        - `metadata`: Update metadata
        - `status`: Pause (`PAUSED`) or resume (`ACTIVE`)
        - `schedule_details.execute_at`: Update the cadence anchor datetime
        - `schedule_details.frequency`, `schedule_details.day_of_week`, etc.: Update cadence

        Type, source, destination, currency, and external_id are immutable.
      operationId: schedules-update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schedule-update-request'
            examples:
              update-anchor:
                summary: Update the cadence anchor datetime
                value:
                  schedule_details:
                    execute_at: "2025-01-20T14:00:00Z"
              pause:
                summary: Pause a schedule
                value:
                  status: PAUSED
              resume:
                summary: Resume a schedule
                value:
                  status: ACTIVE
              update-amount:
                summary: Update amount and description
                value:
                  amount:
                    type: FIXED
                    value: "750.00"
                  description: Updated weekly withdrawal
      responses:
        '200':
          description: Schedule updated
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Cannot modify - schedule not in ACTIVE or PAUSED status (returns existing schedule)
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-response'
    delete:
      tags:
        - Scheduled Payments
      summary: Cancel schedule
      description: |
        Cancels a schedule. Only `ACTIVE` or `PAUSED` schedules can be canceled.

        Canceled schedules cannot be reactivated. Prior executions and any transactions they
        created remain readable.
      operationId: schedules-cancel
      responses:
        '204':
          description: Schedule canceled
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Cannot cancel - schedule is in a terminal state (returns existing schedule)
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-response'

  /v3/schedule/{schedule_uuid}/executions:
    parameters:
      - $ref: '#/components/parameters/schedule_uuid'
      - $ref: '#/components/parameters/Authorization'
    get:
      tags:
        - Scheduled Payments
      summary: List schedule executions
      description: |
        Gets the execution history for a schedule.

        An execution is an occurrence attempt. It does not always create a transaction
        (`SUCCESS` with a transaction, or `SKIPPED` / `FAILED` without one).

        Executions are sorted by execution number descending (latest first).
      operationId: schedules-executions-list
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: OK
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedule-executions-list-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'

  /v3/transactions/{transaction_uuid}:
    get:
      summary: Get transaction details
      description: Gets the details of a transaction
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/transaction_uuid'
      responses:
        '200':
          description: |
            The transaction from the account wallet
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    allOf:
                      - $ref: '#/components/schemas/transaction'
                      - type: object
                        properties:
                          child_transactions:
                            type: array
                            description: Child transactions associated with this transaction, such as service fees. Only present when applicable.
                            items:
                              type: object
                              required:
                                - transaction_uuid
                                - type
                                - status
                                - amount
                                - currency
                              properties:
                                transaction_uuid:
                                  type: string
                                  format: uuid
                                  description: Alviere's unique identifier for the child transaction
                                  example: "789e0123-e89b-12d3-a456-426614174002"
                                type:
                                  type: string
                                  description: The type of child transaction
                                  example: SERVICE_FEE
                                status:
                                  $ref: '#/components/schemas/transaction-status'
                                amount:
                                  type: string
                                  description: The transaction amount as a decimal string
                                  example: "-3.00"
                                currency:
                                  type: string
                                  description: The currency code in ISO-4217 format
                                  example: USD
              examples:
                payment-transaction:
                  summary: Payment transaction
                  value:
                    transaction:
                      transaction_uuid: "123e4567-e89b-12d3-a456-426614174000"
                      external_id: "payment-2025-001"
                      type: "PAYMENT"
                      status: "COMPLETED"
                      description: "Payment to vendor ABC Corp"
                      amount: "1500.00"
                      currency: "USD"
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      returned: false
                      funds_source:
                        payment_method_uuid: "123e4567-e89b-12d3-a456-426614174001"
                      type_details:
                        ach_payment_details:
                          trace_number: "021000021234567"
                          service_type: "SAME_DAY"
                      metadata:
                        invoice_id: "INV-2025-001"
                        customer_ref: "CUST-12345"
                      created_at: "2020-12-30T15:04:05.999999999Z"
                      updated_at: "2020-12-30T15:04:05.999999999Z"
                payment-with-fees:
                  summary: Payment transaction with service fees
                  value:
                    transaction:
                      transaction_uuid: "123e4567-e89b-12d3-a456-426614174000"
                      external_id: "payment-2025-002"
                      type: "PAYMENT"
                      status: "COMPLETED"
                      description: "Payment to vendor XYZ Inc"
                      amount: "500.00"
                      currency: "USD"
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      returned: false
                      funds_source:
                        payment_method_uuid: "123e4567-e89b-12d3-a456-426614174001"
                      type_details:
                        ach_payment_details:
                          trace_number: "021000021234567"
                          service_type: "SAME_DAY"
                      child_transactions:
                        - transaction_uuid: "789e0123-e89b-12d3-a456-426614174002"
                          type: SERVICE_FEE
                          status: COMPLETED
                          amount: "-3.00"
                          currency: USD
                      metadata:
                        invoice_id: "INV-2025-002"
                      created_at: "2020-12-30T15:04:05.999999999Z"
                      updated_at: "2020-12-30T15:04:05.999999999Z"
                return-transaction:
                  summary: Return transaction (ACH return)
                  value:
                    transaction:
                      transaction_uuid: "456e7890-e89b-12d3-a456-426614174001"
                      external_id: "return-2025-001"
                      type: "RETURN"
                      status: "COMPLETED"
                      status_reason: "NSF"
                      description: "ACH return - insufficient funds"
                      amount: "-1500.00"
                      currency: "USD"
                      parent_transaction_uuid: "123e4567-e89b-12d3-a456-426614174000"
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "323e4567-e89b-12d3-a456-426614174000"
                      type_details:
                        ach_payment_details:
                          trace_number: "021000021234567"
                          return_code: "R01"
                          return_reason: "INSUFFICIENT_FUNDS"
                      metadata: {}
                      created_at: "2020-12-30T15:04:05.999999999Z"
                      updated_at: "2020-12-30T15:04:05.999999999Z"
                instant-payout-fednow:
                  summary: Instant payout (completed FedNow push)
                  value:
                    transaction:
                      transaction_uuid: "9d64e7be-6a24-48dd-9f84-b2a3f7305e22"
                      external_id: "inv-2026-0001"
                      type: "INSTANT_BANK_TRANSFER"
                      status: "COMPLETED"
                      description: "Invoice 2026-0001"
                      amount: "-250.00"
                      currency: "USD"
                      wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      account_uuid: "5c9a6e47-1b0b-4895-a6a5-2697e8b7aa21"
                      funds_source:
                        wallet_uuid: "223e4567-e89b-12d3-a456-426614174000"
                      funds_destination:
                        payout_method_uuid: "d31600ed-75dd-4aef-9dcb-0b95e27da302"
                      type_details:
                        instant_transfer_details:
                          network: "FEDNOW"
                      metadata:
                        invoice_id: "2026-0001"
                      created_at: "2026-06-27T14:21:51.120Z"
                      updated_at: "2026-06-27T14:21:53.481Z"
                payment-request-rfp:
                  summary: Request for Payment (TCH_RTP)
                  value:
                    transaction:
                      transaction_uuid: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      external_id: "rfp-2026-0001"
                      type: "INSTANT_PAYMENT_REQUEST"
                      status: "PROCESSING_PAYMENT"
                      description: "Rent request June 2026"
                      amount: "1000.00"
                      currency: "USD"
                      wallet_uuid: "3b0c5dd8-83fc-4d62-b54b-3780148e50c9"
                      account_uuid: "5c9a6e47-1b0b-4895-a6a5-2697e8b7aa21"
                      expires_at: "2026-06-28T23:59:59.000Z"
                      type_details:
                        instant_transfer_details:
                          network: "TCH_RTP"
                      metadata: {}
                      created_at: "2026-06-27T10:00:00.000Z"
                      updated_at: "2026-06-27T14:30:00.000Z"
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: TRN-01
      tags:
        - Transactions
  /v3/transactions/preview:
    post:
      tags:
        - Transactions
      summary: Preview transaction fees
      description: |
        Returns a preview of fees and total amount for a transaction without creating it.

        Use this endpoint to display fee breakdowns to users before they confirm a transaction.
        The SDK uses this to calculate and show the total amount due in the payment UI.
      operationId: transactions-preview
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transaction-preview-request'
            examples:
              payment-preview:
                summary: Preview payment fees
                value:
                  account_uuid: "550e8400-e29b-41d4-a716-446655440000"
                  type: "PAYMENT"
                  amount: "100.00"
                  currency: "USD"
      responses:
        '200':
          description: Transaction fee preview
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
[...]
