openapi: 3.1.0
info:
  version: 1.0.0
  title: The HIVE APIs V3
  contact:
    email: support@alviere.com
    url: https://alviere.com/
  x-logo:
    url: img/alviere-logo.svg
  description: |
    # Introduction

    Welcome to The HIVE API documentation!

    This page provides developer API documentation for integrating into the Alviere HIVE platform.
servers:
- url: https://api.snd.alviere.com
  description: Alviere API
tags:
- name: Authentication
- name: Beneficiaries
- name: Bank Payments
- name: Card Payments
- name: Transactions
- name: Webhooks
paths:
  /v3/auth:
    post:
      tags:
      - Authentication
      summary: Authenticate
      description: |
        Generates authentication tokens.

        **Program-level access token:**

        - Provide `client_id` and `client_secret` to authenticate and receive a program-level access token
        - Set `include_public_certificate: true` to include the current public certificate in the response

        **Account-scoped access token (direct method):**
        - Provide `client_id`, `client_secret`, and `account_uuid` in the request body
        - Omit the Authorization header; the program-level token is not required beforehand
        - Receive an account-scoped access token directly, ideal when only account access is needed

        **Account-scoped access token (from program token):**
        - Provide a program-level access token in the `Authorization` header
        - Include `account_uuid` in the request body to generate an account-scoped access token for that specific account

        V3 does not expose refresh tokens. Use short-lived access tokens and re-authenticate on expiry.
      parameters:
      - in: header
        name: Authorization
        required: false
        schema:
          type: string
        description: |
          Optional. Provide an access token (format: `Bearer <token>`) only when you are exchanging it for an account-scoped token. When using client credentials for the direct method, omit this header. If `account_uuid` is sent without client credentials, this header becomes required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth-create-request'
            examples:
              access-token:
                summary: Program-level access token
                value:
                  client_id: your_client_id
                  client_secret: your_client_secret
              access-token-with-certificate:
                summary: Program-level access token with certificate
                value:
                  client_id: your_client_id
                  client_secret: your_client_secret
                  include_public_certificate: true
              account-scoped-token-direct:
                summary: Account-scoped token (direct method)
                value:
                  client_id: your_client_id
                  client_secret: your_client_secret
                  account_uuid: 550e8400-e29b-41d4-a716-446655440000
              account-scoped-token-direct-with-certificate:
                summary: Account-scoped token with certificate (direct method)
                value:
                  client_id: your_client_id
                  client_secret: your_client_secret
                  account_uuid: 550e8400-e29b-41d4-a716-446655440000
                  include_public_certificate: true
              account-scoped-token-exchange:
                summary: Account-scoped token (program token exchange)
                description: Requires Authorization header `Bearer <program_token>`
                value:
                  account_uuid: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth-create-response'
              examples:
                program-level-token:
                  summary: Program-level access token response
                  value:
                    access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                    access_token_expires_in: 300
                    access_token_type: bearer
                program-level-token-with-certificate:
                  summary: Program-level token with certificate
                  value:
                    access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                    access_token_expires_in: 300
                    access_token_type: bearer
                    public_certificate:
                      id: cert_2025_01
                      certificate: |-
                        -----BEGIN CERTIFICATE-----
                        ...
                        -----END CERTIFICATE-----
                account-scoped-token:
                  summary: Account-scoped access token response
                  value:
                    access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImFjY291bnRfdXVpZCI6IjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCJ9...
                    access_token_expires_in: 300
                    access_token_type: bearer
                account-scoped-token-with-certificate:
                  summary: Account-scoped token with certificate
                  value:
                    access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImFjY291bnRfdXVpZCI6IjU1MGU4NDAwLWUyOWItNDFkNC1hNzE2LTQ0NjY1NTQ0MDAwMCJ9...
                    access_token_expires_in: 300
                    access_token_type: bearer
                    public_certificate:
                      id: cert_2025_01
                      certificate: |-
                        -----BEGIN CERTIFICATE-----
                        ...
                        -----END CERTIFICATE-----
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '500':
          $ref: '#/components/responses/500-Error'
      operationId: auth-create
      security: []
  /v3/beneficiaries:
    post:
      x-internal: true
      summary: Create beneficiary
      description: Create a new Beneficiary associated with this account
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/beneficiary-request'
      responses:
        '200':
          description: |
            The request was successful and the new Beneficiary was created.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiary:
                    $ref: '#/components/schemas/beneficiary-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id`
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiary:
                    $ref: '#/components/schemas/beneficiary-response'
      operationId: accounts-account_uuid-beneficiaries-post
      tags:
      - Beneficiaries
    get:
      x-internal: true
      summary: List beneficiaries
      description: Gets all Beneficiaries associated to an account
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - schema:
          type: string
          enum:
          - LOCAL
          - INTERNATIONAL
        in: query
        name: type
        description: The type of beneficiary
      - schema:
          type: boolean
        in: query
        name: with_transactions_only
        description: Filter beneficiaries to only include those with transactions
      - schema:
          type: string
          enum:
          - INDIVIDUAL
          - BUSINESS
        in: query
        name: legal_type
        description: The legal type of beneficiary
      - schema:
          type: string
        in: query
        name: status
        description: The status of beneficiary
      - schema:
          type: string
        in: query
        name: beneficiary_external_id
        description: Filter by beneficiary external ID
      - schema:
          type: string
          format: uuid
        in: query
        name: account_uuid
        description: Filter by account UUID
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minLength: 1
          default: 10
          maxLength: 500
          minimum: 1
          maximum: 500
        description: The number of items per page
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: OK
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiaries:
                    type: array
                    items:
                      $ref: '#/components/schemas/beneficiary-response'
                required:
                - beneficiaries
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-beneficiaries-get
      tags:
      - Beneficiaries
  /v3/beneficiaries/{beneficiary_uuid}:
    patch:
      x-internal: true
      summary: Update beneficiary
      description: |
        Updates a Beneficiary.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/beneficiary_uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/beneficiary-update'
      responses:
        '200':
          description: |
            The Beneficiary was updated.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiary:
                    $ref: '#/components/schemas/beneficiary-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id`
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/beneficiary-response'
      operationId: accounts-account_uuid-beneficiaries-beneficiary_uuid-patch
      tags:
      - Beneficiaries
    get:
      x-internal: true
      summary: Get beneficiary
      description: Gets a beneficiary.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/beneficiary_uuid'
      responses:
        '200':
          description: OK
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  beneficiary:
                    $ref: '#/components/schemas/beneficiary-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: accounts-account_uuid-beneficiaries-beneficiary_uuid-get
      tags:
      - Beneficiaries
    delete:
      x-internal: true
      summary: Delete beneficiary
      description: Deletes a beneficiary
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/beneficiary_uuid'
      responses:
        '204':
          description: Beneficiary successfully deleted
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id`. Entity has already been deleted.
      operationId: accounts-account_uuid-beneficiaries-beneficiary_uuid-delete
      tags:
      - Beneficiaries
  /v3/ach/debit:
    post:
      summary: ACH Debit
      description: |
        Creates a new payment transaction from a payment method to a wallet.

        **Payment Flow:**
        - Source: Payment method (e.g., bank account with mandate on file)
        - Destination: Business wallet to receive funds
        - The payment will be created with status `CREATED` and processed asynchronously
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment-create-request'
            examples:
              immediate-payment:
                summary: Immediate payment
                value:
                  external_id: inv_1000456
                  amount: '25.99'
                  currency: USD
                  source:
                    payment_method_uuid: 123e4567-e89b-12d3-a456-426614174000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  description: Invoice
                  metadata:
                    invoice_id: '1000456'
      responses:
        '201':
          description: |
            The request was successful and the payment was created.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-create-response'
              examples:
                immediate-payment:
                  summary: Immediate payment response
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: inv_1000456
                      type: PAYMENT
                      status: CREATED
                      description: Invoice
                      amount: '25.99'
                      currency: USD
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      returned: false
                      funds_source:
                        payment_method_uuid: 123e4567-e89b-12d3-a456-426614174001
                      created_at: '2020-12-30T15:04:05.999999999Z'
                      updated_at: '2020-12-30T15:04:05.999999999Z'
                      metadata:
                        invoice_id: '1000456'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on the field `external_id` - returns the existing transaction
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment-create-response'
              examples:
                duplicate-payment:
                  summary: Duplicate payment - returns existing transaction
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: inv_1000456
                      type: PAYMENT
                      status: CREATED
                      description: Invoice
                      amount: '25.99'
                      currency: USD
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      returned: false
                      funds_source:
                        payment_method_uuid: 123e4567-e89b-12d3-a456-426614174001
                      created_at: '2020-12-30T15:04:05.999999999Z'
                      updated_at: '2020-12-30T15:04:05.999999999Z'
                      metadata:
                        invoice_id: '1000456'
      operationId: payments-create
      tags:
      - Bank Payments
  /v3/cards/debit:
    post:
      summary: Accept a card payment
      description: |
        Accept a payment from a customer's card. Funds settle into a wallet on your platform.

        **Charge a saved card or charge a card directly:** In `source`, provide exactly one of:
        - `payment_method_uuid` — charge a card the customer has previously saved on your platform.
        - `card` — charge a card from inline details (typical for guest checkout or one-time payments). Sending raw card data requires PCI compliance on your side.

        **Authorize and capture, or authorize now and capture later:**
        - `auth_type: AUTHCAP` — authorize and capture in one step. The card is charged immediately and funds are captured. Use this for digital goods or any flow where you fulfill on the spot.
        - `auth_type: AUTH` — authorize now, capture later. Funds are held on the card but not captured. The transaction returns `status: COMPLETED` with `captured_at` absent. Capture later via `POST /v3/cards/capture`.

        **3-D Secure verification:**
        If 3-D Secure verification is required — either because you requested it (`3ds_preference: ENABLED` on the card) or because the end consumer's bank requires it — the response returns:
        - `status: PENDING`
        - `status_reason: 3DS_AUTH_REQUIRED`
        - `type_details.card_payment_details.3ds_challenge.redirect_url` — redirect the end consumer here.

        Once the end consumer verifies with their bank, Alviere finalizes the transaction automatically. Fetch the transaction via `GET /v3/transactions/{transaction_uuid}` (or listen for the corresponding webhook) to see the final `status` and `status_reason`.

        **Recurring and saved-card payments:**
        For subscription rebills, scheduled charges, or any time you charge a saved card without the end consumer present, send a `recurring` block:
        - On the first charge with a saved card, set `recurring.sequence: INITIAL`. Alviere records the credential so later charges work.
        - On every subsequent charge, set `recurring.sequence: SUBSEQUENT`. Alviere handles the credential lookup for you.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-debit-request'
            examples:
              authcap-saved-card:
                summary: AUTHCAP using a saved payment method
                value:
                  external_id: order_1000456
                  amount: '25.99'
                  currency: USD
                  source:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  auth_type: AUTHCAP
                  channel: ECOM
                  merchant_details:
                    name: Acme Coffee
                    mcc: '5814'
                    descriptor: ACME COFFEE
                    descriptor_city: BROOKLYN
                  description: Order
                  metadata:
                    order_id: '1000456'
              authcap-inline-card:
                summary: AUTHCAP using inline card details
                value:
                  external_id: order_1000457
                  amount: '25.99'
                  currency: USD
                  source:
                    card:
                      pan: '4111111111111111'
                      exp_month: '12'
                      exp_year: '27'
                      security_code: '123'
                      name_on_card: Jane Doe
                      billing_address:
                        line_1: 123 Main St
                        city: Brooklyn
                        state: NY
                        country: USA
                        postal_code: '11201'
                      3ds_options:
                        3ds_preference: ENABLED
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  auth_type: AUTHCAP
                  channel: ECOM
                  return_url: https://merchant.com/checkout/return?order=1000457
                  ip_address: 203.0.113.42
                  description: Order
              auth-only:
                summary: AUTH-only (capture later)
                value:
                  external_id: order_1000458
                  amount: '150.00'
                  currency: USD
                  source:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  auth_type: AUTH
                  channel: ECOM
              recurring-subscription:
                summary: Recurring subscription rebill (subsequent merchant-initiated)
                value:
                  external_id: sub_1000459
                  amount: '9.99'
                  currency: USD
                  source:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  destination:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  auth_type: AUTHCAP
                  recurring:
                    initiator: MERCHANT
                    processing_model: SUBSCRIPTION
                    sequence: SUBSEQUENT
      responses:
        '201':
          description: The transaction was created. Inspect `status`, `status_reason`, and `type_details.card_payment_details.captured_at` to determine the outcome.
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
              examples:
                authcap-success:
                  summary: AUTHCAP completed (captured)
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000456
                      type: PAYMENT
                      status: COMPLETED
                      description: Order
                      amount: '25.99'
                      currency: USD
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      funds_source:
                        payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: '411111'
                          last4: '1111'
                          exp_month: 12
                          exp_year: 2027
                          auth_type: AUTHCAP
                          authorization_code: TX4271
                          captured_at: '2026-05-15T15:04:05.999999999Z'
                          channel: ECOM
                          avs_result: M
                          cvv_result: M
                          3ds_details:
                            3ds_result: AUTHENTICATED
                            3ds_preference: ENABLED
                            eci: '05'
                            version: '2.2'
                      metadata:
                        order_id: '1000456'
                      created_at: '2026-05-15T15:04:05.999999999Z'
                      updated_at: '2026-05-15T15:04:05.999999999Z'
                auth-only-pending-capture:
                  summary: AUTH-only succeeded; awaiting capture (captured_at absent)
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000458
                      type: PAYMENT
                      status: COMPLETED
                      amount: '150.00'
                      currency: USD
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      funds_source:
                        payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: '411111'
                          last4: '1111'
                          exp_month: 12
                          exp_year: 2027
                          auth_type: AUTH
                          authorization_code: TX4271
                          avs_result: M
                          cvv_result: M
                      created_at: '2026-05-15T15:04:05.999999999Z'
                      updated_at: '2026-05-15T15:04:05.999999999Z'
                challenge-pending:
                  summary: 3DS challenge required
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000456
                      type: PAYMENT
                      status: PENDING
                      status_reason: 3DS_AUTH_REQUIRED
                      amount: '25.99'
                      currency: USD
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      funds_source:
                        payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: '411111'
                          last4: '1111'
                          3ds_challenge:
                            redirect_url: https://3ds.alviere.com/challenge?session=abc123
                            expires_at: '2026-05-15T15:14:05Z'
                      created_at: '2026-05-15T15:04:05.999999999Z'
                      updated_at: '2026-05-15T15:04:05.999999999Z'
                declined:
                  summary: Declined by issuer
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000456
                      type: PAYMENT
                      status: FAILED
                      status_reason: NON_SUFFICIENT_FUNDS
                      amount: '25.99'
                      currency: USD
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      funds_source:
                        payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: '411111'
                          last4: '1111'
                          avs_result: N
                          cvv_result: M
                          processor_code: '51'
                          processor_message: Insufficient funds
                      created_at: '2026-05-15T15:04:05.999999999Z'
                      updated_at: '2026-05-15T15:04:05.999999999Z'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on `external_id` — returns the existing transaction
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
      operationId: cards-debit
      tags:
      - Card Payments
  /v3/cards/capture:
    post:
      summary: Capture card transaction
      description: |
        Capture a previously authorized (AUTH-only) card transaction.

        Only valid when the parent transaction's `type_details.card_payment_details.auth_type` is `AUTH` and `captured_at` is not yet set.
        Omit `amount` to capture the full authorized amount; pass `amount` to capture a smaller amount (partial capture) — the unused authorization is released back to the cardholder.

        On success, the transaction's `type_details.card_payment_details.captured_at` is populated.
        The transaction's `status` remains `COMPLETED` — no new transaction is created.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-capture-request'
            examples:
              capture-full:
                summary: Capture the full authorized amount
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
              capture-partial:
                summary: Partial capture (less than the authorized amount)
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  amount: '100.00'
              capture-with-metadata:
                summary: Capture with an annotation
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  description: Captured on fulfillment
                  metadata:
                    fulfillment_id: ful_88102
      responses:
        '201':
          description: The transaction was captured successfully.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
              examples:
                captured:
                  summary: AUTH-only transaction now captured
                  value:
                    transaction:
                      transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      external_id: order_1000458
                      type: PAYMENT
                      status: COMPLETED
                      amount: '150.00'
                      currency: USD
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      funds_source:
                        payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: '411111'
                          last4: '1111'
                          exp_month: 12
                          exp_year: 2027
                          auth_type: AUTH
                          authorization_code: TX4271
                          captured_at: '2026-05-15T16:10:22.000000000Z'
                          avs_result: M
                          cvv_result: M
                      created_at: '2026-05-15T15:04:05.999999999Z'
                      updated_at: '2026-05-15T16:10:22.000000000Z'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Transaction is not in a state that allows capture
      operationId: cards-capture
      tags:
      - Card Payments
  /v3/cards/reverse:
    post:
      summary: Reverse card transaction
      description: |
        Reverse a previously created card transaction. The endpoint dispatches based on whether the parent
        transaction has been captured — surfaced via `type_details.card_payment_details.captured_at`.

        **Dual response:**
        - **HTTP 201** with a new REFUND transaction — when the parent's `captured_at` is set. The new transaction
          has `type: REFUND`, negative `amount`, and `parent_transaction_uuid` linking back to the original.
        - **HTTP 204** with no body — when the parent's `captured_at` is absent (AUTH-only, not yet captured).
          The authorization is voided in place; no new transaction is created. Refetch the parent via
          `GET /v3/transactions/{transaction_uuid}` to see status flipped to `VOIDED`.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-reverse-request'
            examples:
              reverse-full:
                summary: Full reversal of a captured transaction
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  external_id: refund_order_1000456
                  amount: '25.99'
                  refund_reason: CUSTOMER_REQUEST
                  description: Refund for cancelled order
              reverse-partial:
                summary: Partial reversal
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  external_id: refund_partial_1000456
                  amount: '10.00'
                  refund_reason: CUSTOMER_REQUEST
              void-auth:
                summary: Void an AUTH-only transaction (parent has no captured_at)
                value:
                  transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                  external_id: void_order_1000458
                  amount: '150.00'
                  refund_reason: CUSTOMER_REQUEST
      responses:
        '201':
          description: |
            A new REFUND transaction was created. Returned when the parent was already captured/settled.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
              examples:
                refund-created:
                  summary: Refund transaction created
                  value:
                    transaction:
                      transaction_uuid: 9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                      external_id: refund_order_1000456
                      type: REFUND
                      status: COMPLETED
                      description: Refund for cancelled order
                      amount: '-25.99'
                      currency: USD
                      parent_transaction_uuid: 3fa85f64-5717-4562-b3fc-2c963f66afa5
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      funds_source:
                        payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                      type_details:
                        card_payment_details:
                          brand: VISA
                          last4: '1111'
                          authorization_code: RF8821
                      refund_reason: CUSTOMER_REQUEST
                      created_at: '2026-05-16T10:22:00.000000000Z'
                      updated_at: '2026-05-16T10:22:00.000000000Z'
        '204':
          description: |
            The parent transaction was AUTH-only with `captured_at` not yet set. The authorization was voided in place;
            no new transaction was created. Refetch the parent to see `status: VOIDED`.
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Transaction is not in a state that allows reversal
      operationId: cards-reverse
      tags:
      - Card Payments
  /v3/cards/push:
    post:
      summary: Push funds to a card
      description: |
        Push funds from a wallet to a card payment method — an Original Credit Transaction (OCT).
        Use for marketplace payouts, disbursements, P2P transfers, and instant payouts.

        The destination must be a previously saved card payment method. Raw card details are not accepted on this endpoint.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-push-request'
            examples:
              marketplace-payout:
                summary: Marketplace payout (funds disbursement)
                value:
                  external_id: payout_1000600
                  amount: '250.00'
                  currency: USD
                  source:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  destination:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  purpose: FUNDS_DISBURSEMENT
                  description: Weekly payout
                  metadata:
                    payee_id: driver_88102
              p2p-transfer:
                summary: Person-to-person transfer
                value:
                  external_id: p2p_1000601
                  amount: '50.00'
                  currency: USD
                  source:
                    wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                  destination:
                    payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                  purpose: P2P
      responses:
        '201':
          description: The push transaction was created.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
              examples:
                push-completed:
                  summary: Push completed
                  value:
                    transaction:
                      transaction_uuid: 7a1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d
                      external_id: payout_1000600
                      type: CARD_CREDIT
                      status: COMPLETED
                      description: Weekly payout
                      amount: '250.00'
                      currency: USD
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      funds_source:
                        payment_method_uuid: 550e8400-e29b-41d4-a716-446655440000
                      type_details:
                        card_payment_details:
                          brand: VISA
                          bin: '411111'
                          last4: '1111'
                          authorization_code: OCT9912
                      metadata:
                        payee_id: driver_88102
                      created_at: '2026-05-18T10:00:00.000000000Z'
                      updated_at: '2026-05-18T10:00:00.000000000Z'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
        '409':
          description: Conflict on `external_id` — returns the existing transaction
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-transaction-response'
      operationId: cards-push
      tags:
      - Card Payments
  /v3/cards:
    post:
      summary: Save a card
      description: |
        Save a card payment method to an account so it can be charged or credited later.

        The returned `payment_method_uuid` is the permanent identifier for this card — pass it as the funding source on `/v3/cards/debit` or the destination on `/v3/cards/push`.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-save-request'
            examples:
              save-card:
                summary: Save a card for future charges
                value:
                  external_id: pm_consumer_88102_visa
                  card:
                    pan: '4111111111111111'
                    exp_month: '12'
                    exp_year: '27'
                    security_code: '123'
                    name_on_card: Jane Doe
                    billing_address:
                      line_1: 123 Main St
                      city: Brooklyn
                      state: NY
                      country: USA
                      postal_code: '11201'
              save-with-account:
                summary: Save on a specific account (partner-level token)
                value:
                  account_uuid: 323e4567-e89b-12d3-a456-426614174000
                  external_id: pm_consumer_88102_visa
                  card:
                    pan: '4111111111111111'
                    exp_month: '12'
                    exp_year: '27'
                    security_code: '123'
                    name_on_card: Jane Doe
                    billing_address:
                      line_1: 123 Main St
                      city: Brooklyn
                      state: NY
                      country: USA
                      postal_code: '11201'
      responses:
        '201':
          description: The card was saved.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-saved-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '409':
          description: Conflict on `external_id` — returns the existing saved card.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-saved-response'
      operationId: cards-save
      tags:
      - Card Payments
    get:
      summary: List saved cards
      description: List saved cards for an account.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - in: query
        name: account_uuid
        required: false
        schema:
          type: string
          format: uuid
        description: The account whose saved cards to list.
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: OK
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - cards
                properties:
                  cards:
                    type: array
                    items:
                      $ref: '#/components/schemas/card-saved'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
      operationId: cards-list
      tags:
      - Card Payments
  /v3/cards/{payment_method_uuid}:
    get:
      summary: Get a saved card
      description: Fetch a saved card by `payment_method_uuid`.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/payment_method_uuid'
      responses:
        '200':
          description: OK
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-saved-response'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: cards-get
      tags:
      - Card Payments
    patch:
      summary: Update a saved card
      description: |
        Update mutable fields on a saved card — billing address, expiry, name on card, 3DS preferences, metadata.
        PAN cannot be changed; to update the card number, save a new card and delete the old one.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/payment_method_uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/card-update-request'
            examples:
              update-expiry:
                summary: Update card expiry
                value:
                  exp_month: '12'
                  exp_year: '28'
              update-billing-address:
                summary: Update billing address
                value:
                  billing_address:
                    line_1: 456 Oak Ave
                    city: Brooklyn
                    state: NY
                    country: USA
                    postal_code: '11215'
      responses:
        '200':
          description: The saved card was updated.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/card-saved-response'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: cards-update
      tags:
      - Card Payments
    delete:
      summary: Delete a saved card
      description: |
        Forget a saved card. The `payment_method_uuid` can no longer be used on `/v3/cards/debit` or `/v3/cards/push`. Historical transactions remain accessible via `/v3/transactions/{transaction_uuid}`.
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/payment_method_uuid'
      responses:
        '204':
          description: The saved card was deleted.
          headers:
            Alv-Request-Id:
              description: Alviere's internal unique identifier for the request.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: cards-delete
      tags:
      - Card Payments
  /v3/transactions/{transaction_uuid}:
    get:
      summary: Get transaction details
      description: Gets the details of a transaction
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/transaction_uuid'
      responses:
        '200':
          description: |
            The transaction from the account wallet
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction:
                    $ref: '#/components/schemas/transaction'
              examples:
                payment-transaction:
                  summary: Payment transaction
                  value:
                    transaction:
                      transaction_uuid: 123e4567-e89b-12d3-a456-426614174000
                      external_id: payment-2025-001
                      type: PAYMENT
                      status: COMPLETED
                      description: Payment to vendor ABC Corp
                      amount: '1500.00'
                      currency: USD
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      returned: false
                      funds_source:
                        payment_method_uuid: 123e4567-e89b-12d3-a456-426614174001
                      type_details:
                        ach_payment_details:
                          trace_number: '021000021234567'
                          service_type: SAME_DAY
                      metadata:
                        invoice_id: INV-2025-001
                        customer_ref: CUST-12345
                      created_at: '2020-12-30T15:04:05.999999999Z'
                      updated_at: '2020-12-30T15:04:05.999999999Z'
                return-transaction:
                  summary: Return transaction (ACH return)
                  value:
                    transaction:
                      transaction_uuid: 456e7890-e89b-12d3-a456-426614174001
                      external_id: return-2025-001
                      type: RETURN
                      status: COMPLETED
                      status_reason: NSF
                      description: ACH return - insufficient funds
                      amount: '-1500.00'
                      currency: USD
                      parent_transaction_uuid: 123e4567-e89b-12d3-a456-426614174000
                      wallet_uuid: 223e4567-e89b-12d3-a456-426614174000
                      account_uuid: 323e4567-e89b-12d3-a456-426614174000
                      type_details:
                        ach_payment_details:
                          trace_number: '021000021234567'
                          return_code: R01
                          return_reason: Insufficient Funds
                      metadata: {}
                      created_at: '2020-12-30T15:04:05.999999999Z'
                      updated_at: '2020-12-30T15:04:05.999999999Z'
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: TRN-01
      tags:
      - Transactions
  /v3/transactions:
    get:
      summary: List Transactions
      description: Gets a list of Transactions associated to an Account
      parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/wallet_transaction_type'
      - $ref: '#/components/parameters/transaction-status'
      - $ref: '#/components/parameters/start_date'
      - $ref: '#/components/parameters/end_date'
      - schema:
          type: string
        in: query
        name: external_id
        description: Filter by the external ID of the transaction
      - schema:
          type: string
        in: query
        name: account_uuid
        description: The unique ID of the Account
      - schema:
          type: string
        in: query
        name: wallet_uuid
        description: The unique ID of the Wallet
      - schema:
          type: string
        in: query
        name: beneficiary_uuid
        description: The unique ID of a Beneficiary
      - schema:
          type: string
        in: query
        name: issued_card_uuid
        description: The unique ID of the issued card that is associated with the transactions
      - schema:
          type: string
        in: query
        name: payment_method_uuid
        description: The unique ID of the payment method that is associated with the transactions
      responses:
        '200':
          description: |
            The transactions for the user account wallet
          headers:
            Alv-Request-Id:
              description: |
                Alviere's internal unique identifier for the request. This ID is automatically generated by our API service and
                spans across our entire infrastructure allowing tech ops to trace a request. This id has no business use case
                and serves solely for the purpose of technical debugging and troubleshooting.
              example: 8944355f-342d-42df-9ec9-5b12e619d504
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                description: The transactions list
                properties:
                  records:
                    type: integer
                    title: Number of records
                    description: The number of transaction records returned
                  transactions:
                    type: array
                    title: transactions
                    description: The transactions related to this account
                    items:
                      $ref: '#/components/schemas/transaction'
                required:
                - records
                - transactions
        '400':
          $ref: '#/components/responses/400-Error'
        '401':
          $ref: '#/components/responses/401-Error'
        '403':
          $ref: '#/components/responses/403-Error'
        '404':
          $ref: '#/components/responses/404-Error'
      operationId: TRN-06
      tags:
      - Transactions
webhooks:
  beneficiaryEvent:
    post:
      x-internal: true
      summary: Beneficiary webhook
      description: Triggered when a beneficiary is created, updated, or deleted
      operationId: beneficiary-webhook
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficiaryWebhookPayload'
      responses:
        '200':
          description: Webhook received successfully
components:
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...
      description: The access token
    beneficiary_uuid:
      name: beneficiary_uuid
      in: path
      required: true
      schema:
        type: string
      description: The unique ID of a Beneficiary
    offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        minLength: 0
        default: 0
        minimum: 0
      description: Start after offset amount of items
    transaction_uuid:
      name: transaction_uuid
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The unique ID of a transaction
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minLength: 1
        default: 10
        maxLength: 500
        minimum: 1
        maximum: 500
      description: The number of items per page
    wallet_transaction_type:
      name: type
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/transaction-type'
      description: Filter transactions by type
    transaction-status:
      name: status
      in: query
      schema:
        type: string
        enum:
        - CREATED
        - PROCESSING
        - PROCESSING_PAYMENT
        - COMPLETED
        - FAILED
        - ERROR
        - VOIDED
        - PENDING
        - MANUAL_REVIEW
        - REJECTED
        - WAITING
        - CANCELED_USER
        - CANCELED_SYSTEM
      description: String needs to be a valid transaction status, or multiple valid statuses separated by a `,`
    start_date:
      name: start_date
      in: query
      required: false
      schema:
        type: string
        format: date-time
        example: '2019-10-12T07:20:50.52Z'
      description: Start date for list entity - default is first created entity date time
    end_date:
      name: end_date
      in: query
      required: false
      schema:
        type: string
        format: date-time
        example: '2019-10-12T07:20:50.52Z'
      description: End date for list entity
    payment_method_uuid:
      name: payment_method_uuid
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The unique ID of a saved card payment method
  schemas:
    auth-create-request:
      type: object
      properties:
        client_id:
          type: string
          description: |
            Client ID for authentication.

            **Conditional requirement:** Required when authenticating with client credentials (both program-level and direct account-scoped token generation). Not required when exchanging a program-level token using the Authorization header.
        client_secret:
          type: string
          description: |
            Client secret for authentication.

            **Conditional requirement:** Required when authenticating with client credentials (both program-level and direct account-scoped token generation). Not required when exchanging a program-level token using the Authorization header.
        account_uuid:
          type: string
          format: uuid
          description: |
            UUID of an account that belongs to the program.

            **Usage scenarios:**

            1. **Direct account-scoped token:** Provide this field along with client_id and client_secret to generate an account-scoped token directly (without first obtaining a program-level token)

            2. **Token exchange:** Provide this field with a program-level access token in the Authorization header to exchange it for an account-scoped token

            **Conditional requirement:** Required whenever an account-scoped token is requested. When client credentials are not supplied, an Authorization header containing a program-level token must accompany this field.
        include_public_certificate:
          type: boolean
          default: false
    auth-create-response:
      type: object
      required:
      - access_token
      - access_token_expires_in
      - access_token_type
      properties:
        access_token:
          type: string
        access_token_expires_in:
          type: integer
          example: 300
        access_token_type:
          type: string
          example: bearer
        public_certificate:
          type: object
          properties:
            id:
              type: string
              description: Identifier of the certificate.
            certificate:
              type: string
              description: PEM-encoded certificate content.
    BeneficiaryWebhookPayload:
      title: Beneficiary webhook payload
      type: object
      description: Webhook payload sent when a beneficiary is created, updated, or deleted
      required:
      - event_uuid
      - event_type
      - event_date
      - event_version
      - program_uuid
      - data
      properties:
        event_uuid:
          type: string
          format: uuid
          description: Unique identifier for this event
          example: 589ed560-1a14-55c1-97e3-63fe40dce312
        event_type:
          type: string
          enum:
          - BENEFICIARY
          description: The type of event
          example: BENEFICIARY
        event_date:
          type: string
          format: date-time
          description: When the event occurred
          example: '2022-10-11T09:11:32.483Z'
        event_version:
          type: string
          description: Version of the event payload
          example: '3.0'
        program_uuid:
          type: string
          format: uuid
          description: The program UUID
          example: 3ff8d46a-da4d-46f1-a296-db483914b896
        data:
          $ref: '#/components/schemas/beneficiary-response'
    beneficiary-address:
      title: Beneficiary address
      type: object
      description: Details of a beneficiary address. For country specific requirements, please consult our guides
      properties:
        line_1:
          title: Address Line One
          description: Address line 1 (e.g., street, PO Box, or company name - NOTE that newline characters are not accepted)
          type: string
        line_2:
          title: Address Line Two
          description: Address line 2 (e.g., apartment, suite, unit, or building - NOTE that newline characters are not accepted)
          type: string
        postal_code:
          title: Postal Code
          description: ZIP or postal code
          type: string
        city:
          title: City
          description: City, district, suburb, town, or village
          type: string
        state:
          type: string
          title: State
          description: State, county, province, or region
        country:
          title: Country
          description: Three-letter country code (ISO 3166-1 alpha-3).
          type: string
          pattern: ^[A-Z]{3}$
          example: USA
    beneficiary-request:
      oneOf:
      - title: Individual
        description: Beneficiary representing an individual account
        required:
        - beneficiary_external_id
        - type
        - first_name
        - last_name
        - country
        - currency
        properties:
          beneficiary_external_id:
            type: string
            description: |-
              The unique identifier of this beneficiary in your own system.

              Note: This is used for idempotency check
          owner:
            type: object
            description: Optional hierarchy information for the beneficiary
            properties:
              account_uuid:
                type: string
                format: uuid
                description: The UUID of the account that owns this beneficiary
          type:
            type: string
            enum:
            - LOCAL
            - INTERNATIONAL
            description: Whether the beneficiary can be used for local or international transactions
          legal_type:
            type: string
            default: INDIVIDUAL
            enum:
            - INDIVIDUAL
            description: Whether the beneficiary is an individual or a business
          first_name:
            type: string
            description: ' The beneficiary''s first name'
            example: John
          middle_name:
            type: string
            description: ' The beneficiary''s middle name'
            example: Mark
          last_name:
            type: string
            description: The beneficiary's last name
            example: Doe
          second_last_name:
            type: string
            description: The beneficiary's second last name (if applicable)
            example: Jones
          date_of_birth:
            type: string
            description: The beneficiary's date of birth
            example: '1976-02-07'
          country:
            type: string
            description: Three-letter country code (ISO 3166-1 alpha-3)
            example: USA
            pattern: ^[A-Z]{3}$
          currency:
            type: string
            description: The bank's currency type in ISO-4217 format
          address:
            $ref: '#/components/schemas/beneficiary-address'
          phone_number:
            type: string
            pattern: ^\+[1-9]\d{1,14}$
            example: '+19176159179'
            description: The beneficiary's phone number in E.164 international standard
          tax_id:
            type: string
            description: Identifying number used for tax purposes
          id_information:
            type: object
            required:
            - id_number
            - id_type
            - country_of_issuance
            properties:
              id_number:
                type: string
                description: The unique number of the ID
              id_type:
                enum:
                - PASSPORT
                - NATIONAL_ID
                - FOREIGNER_ID
                - DRIVERS_LICENSE
                description: The type of ID
              country_of_issuance:
                type: string
                description: The country that issued the ID
              expiration_date:
                type: string
                description: The expiration date of the ID, if applicable
                example: '2030-02-07'
                format: date
          label:
            type: string
            description: A label to identify the beneficiary
          metadata:
            description: Allows for any number of custom metadata keys and values to be stored with a given account
            type: object
      - title: Business
        description: Beneficiary representing an individual account
        required:
        - beneficiary_external_id
        - type
        - business_name
        - country
        - currency
        properties:
          beneficiary_external_id:
            type: string
            description: |-
              The unique identifier of this beneficiary in your own system.

              Note: This is used for idempotency check
          owner:
            type: object
            description: Optional hierarchy information for the beneficiary
            properties:
              account_uuid:
                type: string
                format: uuid
                description: The UUID of the account that owns this beneficiary
          type:
            type: string
            enum:
            - LOCAL
            - INTERNATIONAL
            description: Whether the beneficiary can be used for local or international transactions
          legal_type:
            type: string
            enum:
            - BUSINESS
            description: Whether the beneficiary is an individual or a business
          business_name:
            type: string
            description: The business' name
          country:
            type: string
            description: Three-letter country code (ISO 3166-1 alpha-3)
            example: USA
            pattern: ^[A-Z]{3}$
          currency:
            type: string
            description: The bank's currency type in ISO-4217 format
          address:
            $ref: '#/components/schemas/beneficiary-address'
          metadata:
            description: Allows for any number of custom metadata keys and values to be stored with a given account
            type: object
      title: Beneficiary
      description: Details of a Beneficiary
      type: object
    beneficiary-response:
      title: Beneficiary
      type: object
      description: |
        Details of a beneficiary entity in Alviere's systems. This entity represents a representation of a bank account and individual who a transaction can be sent to.
      x-internal: false
      required:
      - beneficiary_uuid
      - beneficiary_external_id
      - type
      - legal_type
      - status
      - country
      - currency
      - created_at
      - updated_at
      properties:
        beneficiary_uuid:
          type: string
          description: The unique beneficiary identifier in Alviere's system
          format: uuid
        beneficiary_external_id:
          type: string
          description: |-
            The unique identifier of this beneficiary in your own system.

            Note: This is used for idempotency check
        account_uuid:
          type: string
          format: uuid
          description: Optional UUID of the account that owns this Beneficiary
        type:
          type: string
          enum:
          - LOCAL
          - INTERNATIONAL
          description: Whether the beneficiary can be used for local or international transactions
        legal_type:
          type: string
          description: Whether the beneficiary is an individual or a business
          enum:
          - INDIVIDUAL
          - BUSINESS
        status:
          type: string
          enum:
          - CREATED
          - ACTIVE
          - DELETED
          - PROCESSING
          - PENDING_USER
          - MANUAL_REVIEW
          - REJECTED
          description: The beneficiary status
        status_reason:
          type: string
          description: The reason why the beneficiary is in a particular status
          enum:
          - STAGE_VALIDATION
          - INVALID_NAME
          - SANCTIONED_USER
          - CUSTOM
        country:
          type: string
          description: Three-letter country code (ISO 3166-1 alpha-3)
          example: USA
          pattern: ^[A-Z]{3}$
        first_name:
          type: string
          description: The beneficiary's first name
          example: John
        middle_name:
          type: string
          description: ' The beneficiary''s middle name'
          example: Mark
        last_name:
          type: string
          description: The beneficiary's last name
          example: Doe
        second_last_name:
          type: string
          description: The beneficiary's second last name (if applicable)
          example: Jones
        business_name:
          type: string
          description: If Beneficiary class is Business, this field will contain the business' name
        date_of_birth:
          type: string
          description: The beneficiary's date of birth
          example: '1976-02-07'
        phone_number:
          type: string
          pattern: ^\+[1-9]\d{1,14}$
          example: '+18284976406'
          description: The beneficiary's phone number in E.164 international standard
        label:
          type: string
          description: A label to identify the beneficiary
        currency:
          type: string
          description: The bank's currency type in ISO-4217 format
        tax_id_last_4:
          type: string
          description: Identifying number used for tax purposes
        id_information:
          type: object
          required:
          - id_number_last_4
          - id_type
          - country_of_issuance
          properties:
            id_number_last_4:
              type: string
              description: The unique number of the ID
            id_type:
              enum:
              - PASSPORT
              - NATIONAL_ID
              - FOREIGNER_ID
              - DRIVERS_LICENSE
              description: The type of ID
            country_of_issuance:
              type: string
              description: The country that issued the ID
            expiration_date:
              type: string
              description: The expiration date of the ID, if applicable
              example: '2030-02-07'
              format: date
        address:
          $ref: '#/components/schemas/beneficiary-address'
        created_at:
          type: string
          example: '2021-06-17T11:02:08.143Z'
          description: The beneficiary's creation date
        updated_at:
          type: string
          pattern: '2021-08-02T05:32:11.345Z'
          description: The beneficiary's update date
        metadata:
          description: Allows for any number of custom metadata keys and values to be stored with a given account
          type: object
    beneficiary-update:
      oneOf:
      - title: Individual
        description: Beneficiary representing an individual account
        properties:
          external_id:
            type: string
            description: |-
              The unique identifier of this beneficiary in your own system.

              Note: This is used for idempotency check
          first_name:
            type: string
            description: ' The beneficiary''s first name'
            example: John
          middle_name:
            type: string
            description: ' The beneficiary''s middle name'
            example: Mark
          last_name:
            type: string
            description: The beneficiary's last name
            example: Doe
          second_last_name:
            type: string
            description: The beneficiary's second last name (if applicable)
            example: Jones
          date_of_birth:
            type: string
            description: The beneficiary's date of birth
            example: '1976-02-07'
          phone_number:
            type: string
            pattern: ^\+[1-9]\d{1,14}$
            example: '+19176159179'
            description: The beneficiary's phone number in E.164 international standard
          id_information:
            type: object
            properties:
              id_number:
                type: string
                description: The unique number of the ID
              id_type:
                enum:
                - PASSPORT
                - NATIONAL_ID
                - FOREIGNER_ID
                - DRIVERS_LICENSE
                description: The type of ID
              country_of_issuance:
                type: string
                description: The country that issued the ID
              expiration_date:
                type: string
                description: The expiration date of the ID, if applicable
                example: '2030-02-07'
                format: date
          label:
            type: string
            description: A label to identify the beneficiary
          tax_id:
            type: string
            description: Identifying number used for tax purposes
          address:
            $ref: '#/components/schemas/beneficiary-address'
          metadata:
            description: Allows for any number of custom metadata keys and values to be stored with a given account
            type: object
      - title: Business
        description: Beneficiary representing an individual account
        properties:
          external_id:
            type: string
            description: |-
              The unique identifier of this beneficiary in your own system.

              Note: This is used for idempotency check
          business_name:
            type: string
            description: The business' name
          address:
            $ref: '#/components/schemas/beneficiary-address'
          metadata:
            description: Allows for any number of custom metadata keys and values to be stored with a given account
            type: object
      title: Beneficiary
      description: Details of a Beneficiary
      type: object
    payment-create-request:
      title: Payment creation request
      type: object
      description: Request payload for creating a new payment transaction
      required:
      - external_id
      - amount
      - currency
      - source
      - destination
      properties:
        external_id:
          type: string
          description: |
            The unique identifier of this payment in your own system.
            This is used for idempotency - duplicate requests with the same external_id will be rejected with a 409 error.
          example: inv_1000456
        amount:
          type: string
          description: The payment amount as a decimal string
          example: '25.99'
        currency:
          type: string
          pattern: ^[A-Z]{3}$
          description: The currency code in ISO-4217 format
          example: USD
        source:
          type: object
          description: The source of funds for the payment
          required:
          - payment_method_uuid
          properties:
            payment_method_uuid:
              type: string
              format: uuid
              description: The UUID of the payment method (e.g., bank account with mandate on file)
              example: 123e4567-e89b-12d3-a456-426614174000
        destination:
          type: object
          description: The destination for the payment funds
          required:
          - wallet_uuid
          properties:
            wallet_uuid:
              type: string
              format: uuid
              description: The UUID of the wallet to receive the funds
              example: 223e4567-e89b-12d3-a456-426614174000
        description:
          type: string
          description: Optional description for the payment
          maxLength: 255
          example: Invoice
        metadata:
          type: object
          description: |
            Optional key-value pairs for storing additional information about the payment.
            This data will be returned when retrieving the transaction.
          additionalProperties: true
          example:
            invoice_id: '1000456'
            customer_id: cust_789
    payment-create-response:
      title: Payment creation response
      type: object
      description: Response containing the created payment transaction details
      required:
      - transaction
      properties:
        transaction:
          type: object
          required:
          - transaction_uuid
          - external_id
          - type
          - status
          - amount
          - currency
          - created_at
          - updated_at
          properties:
            transaction_uuid:
              type: string
              format: uuid
              description: Alviere's unique identifier for this transaction
              example: 3fa85f64-5717-4562-b3fc-2c963f66afa5
            external_id:
              type: string
              description: Your unique identifier for this payment
              example: inv_1000456
            type:
              type: string
              enum:
              - PAYMENT
              description: The type of transaction
              example: PAYMENT
            status:
              $ref: '#/components/schemas/transaction-status'
            description:
              type: string
              description: The description of the payment
              example: Invoice
            amount:
              type: string
              description: The payment amount as a decimal string
              example: '25.99'
            currency:
              type: string
              description: The currency code in ISO-4217 format
              example: USD
            wallet_uuid:
              type: string
              format: uuid
              description: UUID of the wallet
              example: 223e4567-e89b-12d3-a456-426614174000
            account_uuid:
              type: string
              format: uuid
              description: UUID of the account
              example: 323e4567-e89b-12d3-a456-426614174000
            returned:
              type: boolean
              description: Indicates whether this payment transaction has been returned
              example: false
            funds_source:
              type: object
              description: The source of funds for this transaction (payment method for PAYMENT transactions)
              properties:
                payment_method_uuid:
                  type: string
                  format: uuid
                  description: UUID of the payment method
                  example: 123e4567-e89b-12d3-a456-426614174000
            created_at:
              type: string
              format: date-time
              description: The timestamp when the payment was created
              example: '2020-12-30T15:04:05.999999999Z'
            updated_at:
              type: string
              format: date-time
              description: The timestamp when the payment was last updated
              example: '2020-12-30T15:04:05.999999999Z'
            metadata:
              type: object
              description: The metadata associated with this payment
              additionalProperties: true
    transaction-status:
      title: Transaction status
      type: string
      description: |
        The transaction status details the current status of the transaction during its life-cycle.
      enum:
      - CREATED
      - PROCESSING
      - PROCESSING_PAYMENT
      - COMPLETED
      - FAILED
      - ERROR
      - VOIDED
      - PENDING
      - MANUAL_REVIEW
      - REJECTED
      - WAITING
      - CANCELED_USER
      - CANCELED_SYSTEM
    transaction-type:
      type: string
      title: Transaction type
      description: Transaction types for V3 API
      enum:
      - PAYMENT
      - RETURN
    transaction:
      type: object
      description: Details of a transaction entity in Alviere's systems. This entity represents a financial transaction between wallets and/or vaults.
      x-internal: false
      title: Transaction
      required:
      - transaction_uuid
      - external_id
      - type
      - status
      - amount
      - currency
      - created_at
      - updated_at
      properties:
        transaction_uuid:
          description: This field is Alviere's internal unique transaction identifier
          type: string
          format: uuid
        external_id:
          type: string
          description: |
            The ID of this transaction in your own platform. This ID can
            be used to identify the transaction as well as protect our API against duplicate transactions.

            NOTE: This field MUST be unique. Any collision on `external_id` will fail with a HTTP 409.
        type:
          $ref: '#/components/schemas/transaction-type'
        status:
          $ref: '#/components/schemas/transaction-status'
        status_reason:
          type: string
          example: AUTH_BACKOUT
          description: The reason why a transaction might be in a particular status
        description:
          type: string
          description: |
            The description can be any descriptive text provided by the provider accompany the transaction.
        amount:
          title: Transaction amount
          description: |
            The transaction amount in the currency of the transaction, as a decimal string.
            e.g. 1 USD will be represented as `amount: "1.00"`
          type: string
          example: '100.32'
        currency:
          description: The currency code in ISO-4217 format.
          type: string
          example: USD
        parent_transaction_uuid:
          type: string
          format: uuid
          description: UUID of the parent transaction (e.g., original PAYMENT for a RETURN transaction)
          example: 123e4567-e89b-12d3-a456-426614174000
        wallet_uuid:
          type: string
          format: uuid
          description: UUID of the wallet
          example: 223e4567-e89b-12d3-a456-426614174000
        account_uuid:
          type: string
          format: uuid
          description: UUID of the account
          example: 323e4567-e89b-12d3-a456-426614174000
        returned:
          type: boolean
          description: Indicates whether this payment transaction has been returned
          example: false
        funds_source:
          type: object
          description: The source of funds for this transaction (payment method for PAYMENT transactions)
          properties:
            payment_method_uuid:
              type: string
              format: uuid
              description: UUID of the payment method
              example: 123e4567-e89b-12d3-a456-426614174000
        type_details:
          type: object
          description: Additional details specific to the transaction type
          properties:
            ach_payment_details:
              type: object
              description: Details for ACH payment transactions
              properties:
                trace_number:
                  type: string
                  description: ACH trace number for this transaction
                  example: '021000021234567'
                service_type:
                  type: string
                  description: ACH service type/settlement speed
                  enum:
                  - SAME_DAY
                  - NEXT_DAY
                  - STANDARD
                  example: SAME_DAY
                return_code:
                  type: string
                  description: ACH return code (e.g., R01, R02, R03) - only present for RETURN transactions
                  example: R01
                return_reason:
                  type: string
                  description: Human-readable reason for the return - only present for RETURN transactions
                  example: Insufficient Funds
        metadata:
          type: object
          description: Allows for any number of custom metadata keys and values to be stored with a given transaction
    card-billing-address:
      title: Card billing address
      type: object
      description: Billing address associated with a card. Used for AVS verification and risk scoring.
      required:
      - line_1
      - city
      - country
      - postal_code
      properties:
        line_1:
          title: Address Line One
          type: string
          description: Address line 1 (e.g., street, PO Box, or company name). Newline characters are not accepted.
          example: 123 Main St
        line_2:
          title: Address Line Two
          type: string
          description: Address line 2 (e.g., apartment, suite, unit, or building). Newline characters are not accepted.
        city:
          title: City
          type: string
          example: Brooklyn
        state:
          title: State
          type: string
          description: State, county, province, or region
          example: NY
        postal_code:
          title: Postal Code
          type: string
          description: ZIP or postal code
          example: '11201'
        country:
          title: Country
          type: string
          pattern: ^[A-Z]{3}$
          description: Three-letter country code (ISO 3166-1 alpha-3)
          example: USA
    card-3ds-options:
      title: Card 3DS options
      type: object
      description: |
        3-D Secure preferences attached to a card. For saved cards these are set on payment method creation
        and inherited at debit time. For inline cards, specify here.
      properties:
        3ds_preference:
          type: string
          enum:
          - ENABLED
          - DISABLED
          - DOWNGRADE_ALLOWED
          description: The preferred 3-D Secure flow for the transaction
        3ds_challenge_indicator:
          type: string
          enum:
          - NO_CHALLENGE_REQUESTED
          - CHALLENGE_REQUESTED
          - CHALLENGE_REQUESTED_MANDATE
          - NO_PREFERENCE
          description: Hint to the issuer about challenge preference
    card-inline-details:
      title: Inline card details
      type: object
      description: |
        Use inline card details for guest checkout or one-time payments.
        Sending raw card data requires PCI compliance on your side — prefer `payment_method_uuid` referencing a saved card when possible.
      required:
      - pan
      - exp_month
      - exp_year
      - security_code
      - name_on_card
      properties:
        pan:
          type: string
          description: The card number
          pattern: ^[0-9]{14,19}$
          example: '4111111111111111'
        exp_month:
          type: string
          description: Expiration month
          pattern: ^(0?[1-9]|1[012])$
          example: '12'
        exp_year:
          type: string
          description: Expiration year (2-digit)
          pattern: ^[0-9]{2}$
          example: '27'
        security_code:
          type: string
          description: Card security code (CVV/CVC/CID)
          example: '123'
        name_on_card:
          type: string
          description: The name as it appears on the card
          example: Jane Doe
        phone_number:
          type: string
          description: Optional phone number associated with the card
          example: +1-555-0100
        email_address:
          type: string
          description: Optional email associated with the card
          example: jane@example.com
        billing_address:
          $ref: '#/components/schemas/card-billing-address'
        3ds_options:
          $ref: '#/components/schemas/card-3ds-options'
    merchant-details:
      title: Merchant details
      type: object
      description: |
        Information about the merchant accepting the card payment.
        Used to control what appears on the end consumer's statement and to support chargeback handling.
      properties:
        name:
          type: string
          description: Merchant name
          example: Acme Coffee
        mcc:
          type: string
          description: The 4-digit Merchant Category Code (MCC) for your business
          pattern: ^[0-9]{4}$
          example: '5814'
        descriptor:
          type: string
          description: What appears on the end consumer's statement. Subject to card-network length and format rules.
          example: ACME COFFEE
        descriptor_city:
          type: string
          description: City portion of the statement descriptor
          example: BROOKLYN
        url:
          type: string
          description: Merchant URL
          example: https://acmecoffee.com
        phone:
          type: string
          description: Optional merchant support phone number
    recurring-card-options:
      title: Recurring card options
      type: object
      description: |
        Indicators for charging a saved card without the end consumer present — subscriptions, rebills, scheduled payments,
        and any other off-session charges. Alviere manages the credential chain behind the scenes; you just tell us whether
        this is the first charge in the sequence or a subsequent one.
      required:
      - initiator
      - processing_model
      - sequence
      properties:
        initiator:
          type: string
          enum:
          - CARDHOLDER
          - MERCHANT
          description: |
            Who initiated this transaction.
            - `CARDHOLDER` (CIT — cardholder-initiated; SCA may apply).
            - `MERCHANT` (MIT — merchant-initiated for subscriptions/rebills; typically SCA-exempt).
        processing_model:
          type: string
          enum:
          - CARD_ON_FILE
          - SUBSCRIPTION
          - UNSCHEDULED
          - INSTALLMENT
          - DELAYED_CHARGE
          - NO_SHOW
          - RESUBMISSION
          description: |
            The recurring scenario:
            - `CARD_ON_FILE`: Saved card, occasional cardholder-initiated reuse
            - `SUBSCRIPTION`: Fixed amount/interval merchant-initiated rebill
            - `UNSCHEDULED`: Variable amount merchant-initiated (utility bills, ride-hailing)
            - `INSTALLMENT`: Planned installment payment
            - `DELAYED_CHARGE`: Additional charge after primary auth (e.g., hotel incidentals)
            - `NO_SHOW`: Cancellation fee
[...]
